@import "variables.less";
@import "mixins.less";



body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #323A45;
}

h1 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ADBFCB;
    line-height: 140%;
    letter-spacing: .5px;
}
h2.hero-heading {
    font-size: 55px;
    font-weight: 600;
}
h2 {
    font-size: 36px;
    color: @dark-grey;
    text-align: center;
}
h3 {
    font-size: 36px;
    color: @dark-grey;
    text-align: center;
}
ul.blue-points{
    font-size: 11px;
    font-weight: 600;
    line-height: 30px;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;

    li:before{
        color: rgb(52, 152, 219);
        content:"\2022"; 
        font-size:1em; 
        padding-right:.5em; 
        position:relative;
        top:.1em;
        margin-right: 5px; 
    }
}

p {
    color: @font-grey;
    line-height: 160%;
    font-size: 17px;
}
p.large {
    font-size: 17px;
}

button.btn-primary,
button.btn-default {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

button.btn-hero {
    background-color: rgba(53, 153, 216, 0.7);
    border-color: none;
    color: white;
    padding: 10px 50px;


    &:hover {
       background-color: rgba(53, 153, 216, 1);
       border-color: @cta-blue; 
    }
}
button.btn-primary {
    background-color: rgba(53, 153, 216, 1);
    border-color: @cta-blue; 
    color: white;
    padding: 10px 50px;
    border-radius: 2px;
    border-bottom: 3px solid #216FA0;


    &:hover {
       background-color: #3189C1;
       border-color: @cta-blue; 
    }
}
button.btn-default {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: none;
    color: @cta-blue;
    padding: 10px 35px;
    border-radius: 2px;
    border-bottom: 3px solid #A2A5A7;


    &:hover,
    &:focus,
    &:active {
       background-color: rgba(255, 255, 255, 1);
       border-color: white;
       color: @cta-blue; 
       border-bottom: 3px solid #C4C7CA;
    }
}

// NAVIGATION SECTION
nav.navbar {
    background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
    margin-bottom: 0;

    div.navbar-header {
        text-align: center;
        
        @media (max-width: 768px) {
            background-color: #55656F;

        }

        button {
            margin-top: 26px;
            margin-right: 27px;
            background-color: @cta-blue;
            margin-bottom: 20px;
            border-color: @cta-blue;
            border-radius: 2px;

            &:hover,
            &:focus,
            &:active {
                background-color: @cta-blue;
                border-color: @cta-blue;
            }

            span.icon-bar {
                width: 15px;
                height: 2px;
            }
        }
        

        a {
            img {
                display: inline-block;
               
                margin-top: 0px;

                @media (max-width: 768px) {
                    height: 55px;
                    margin-top: -2px;
                }
            }
            p.logo-text {
                font-size: 26px;
                color: white;
            }
        }
    }
    div.navbar-collapse {
        font-size: 16px;
        border-color: #53636D;
        background-color: none;

        @media (max-width: 768px) {
            background-color: #182B38;
        }

        ul.navbar-nav {
            
            float: right;

            @media (max-width: 768px) {
                float: none;
                text-align: center;
            }

            li {
                margin-left: 30px;
                margin-top: 20px;

                 @media (max-width: 768px) {
                    margin-left: 0;
                    margin-top: 10px;
                }
                &:last-child {
                    margin-bottom: 10px;
                }

                a {
                    color: white;
                    font-weight: 300;
                    &:hover {
                        // color: @cta-blue;
                        text-decoration: underline;
                    }
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        ul.navbar-nav.visible-xs {
            text-align: center;
        }
    }
}

// Hero Section

section#intro {
    
    .hero-contact{
        margin-top: -81px;
        height: 350px;
        background: url(/assets/img/contact-us-bg.jpg) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
    }

    .hero {
        margin-top: -81px;
        height: 650px;
        background: url(../img/ux-design-course-hero.jpg) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h2{
            // font-size: 48px;
            // font-weight: 400;
            color: white;
            letter-spacing: .5px;
            margin: auto 0;
            text-align: center;
            margin-top: 190px;
            // text-transform: uppercase;
        } 
        h1.hero-small {
            text-align: center;
            margin: 20px auto;
        }
        div.ctas {
            text-align: center;
            margin-top: 40px;

            button.btn-primary {
                margin-right: 15px;
            }
            button.btn-default {
                margin-left: 15px;
            }
            label{
                vertical-align: top;
                font-size: 14px;
                color: white;
                width: 89px;
                height: 40px;
                font-weight: 300;
                margin-right: 5px;
            }
            input{
                vertical-align: top;
                width: 260px;
                height: 40px;
                border: none;
                padding-left: 10px;
                font-size: 14px;
            }
            button{
                vertical-align: top;
                width: 125px;
                height: 40px;
                border-radius: 3px;
                margin-left: 3px;
                background-color: #3a99d8;
                color: white;
                font-size: 14px;
                border: none;
            }
        }
        .chevron {
            text-align: center;

            

            i.fa {
                font-size: 30px;
                margin-top: 100px;
                color: #3C4E61;
            }
            
        }
        
    }
    // mobile hero
    .hero-mobile {
        margin-top: -82px;
        height: 400px;
        background: url(../img/ux-design-course-hero.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .hero-content {
            padding: 135px 15px 0;
        }

        h2{
            font-size: 36px;
            font-weight: 600;
            color: white;
            letter-spacing: .5px;
            margin: auto 0;
            text-align: center;

        } 
        h1.hero-small {
            text-align: center;
            margin: 20px auto;
            font-size: 17px;
        }
        div.ctas {
            text-align: center;
            margin-top: 30px;

            button.btn-primary {
                margin-right: 3px;
                padding: 6px 25px;
                font-size: 14px;
                margin-top: 10px;
            }
            button.btn-default {
                margin-left: 3px;
                padding: 6px 25px;
                font-size: 14px;
                margin-top: 10px;
            }
            label{
                vertical-align: top;
                font-size: 14px;
                color: white;
                width: 89px;
                height: 40px;
                font-weight: 300;
                margin-right: 5px;
            }
            input{
                vertical-align: top;
                width: 260px;
                height: 40px;
                border: none;
                padding-left: 10px;
                font-size: 14px;
            }
            button{
                vertical-align: top;
                width: 125px;
                height: 40px;
                border-radius: 3px;
                margin-left: 3px;
                background-color: #3a99d8;
                color: white;
                font-size: 14px;
                border: none;
            }
        }
        .chevron {
            text-align: center;

            i.fa {
                font-size: 30px;
                margin-top: 76px;
            }
            
        }
    }
}
.subtitle {
        margin-top: 10px;
        margin-bottom: 60px;

        img,
        p {
            display: inline-block;
        }
        p {
            font-weight: 600;
        }
        img {
            height: 25px;
            margin: 18px 9px 5px 2px;
        }
    }

section.course-2 {
    .container {
        padding-left: 100px;
        padding-right: 100px;

        @media (max-width: 1174px) {
            padding-left: 25px;
            padding-right: 25px;
        }
        h2 {
            font-size: 36px;
            font-weight: 400;

            span {
                font-weight: 600;
            }
        }
        ul.selling-points{
            padding-top: 10px;
            padding-left: 10px;

            .fa {
                padding-right: 10px;
                display: inline-block;
                vertical-align: top;
                width: 10%;
                color: rgb(52, 152, 219);
                /*margin-right: 10px;*/
            }
            p {
                padding-left: 5px;
                vertical-align: top;
                margin-top: -2px;
                width: 90%;
                display: inline-block;
                /*margin-left: -25px;*/
                text-align: left;
                font-size: 12px;
            }
        }
    }
}
// *******************
// course for section
// *******************
section#course {


    div.headline {
        h2.course-for {
            margin: 35px 0 20px;

        }
    }
    div.audience {
        margin: 0 -30px 50px;

        .row {
            margin: 0 -35px;
        }


        .column {
            padding: 0px 3px;
            margin-top: 5px;
            text-align: center;

            .column-section {
                border: 2px solid @border-grey;
                padding: 40px 5px;
                height: 370px;

                @media (max-width: 768px) {
                    height: auto;
                }
                div.icon {
                    text-align: center;

                    img {
                        margin-bottom: 12px;
                        height: 75px;
                    }
                }

                 h4, p.subtext {
                    text-align: center;
                }
                h4 {
                    font-size: 24px;

                    strong {
                        font-weight: 600;
                    }
                }
                p.subtext {
                    font-size: 14px;
                }
                b {
                    font-size: 12px;
                }
                ul.items {
                    list-style-type: none;
                    padding: 0 2px 0 7px;
                    margin-top: 24px;

                    li {
                        margin: 7px 0;
                        font-weight: 600;
                        font-size: 12px;

                        i.fa {
                            color: @cta-blue;
                            margin-right: 7px;
                            font-size: 10px;
                        }
                    }
                }
            }
            // end of column section 

        }
        .column-hero {
            margin-top: 30px;  
        }
    } 
        
}

// design process section
section#design-process {
    // margin-top: 25px;

    // chevron section
    div.chevron-down {
        text-align: center;

        img {
            height: 30px;
        }
    }
    hr {
        border-top: 2px solid @border-grey;
    }

    // headline section
    .headline-area {

        @media (max-width: 768px) {
            margin-top: 30px;
        }
        h2 {
            line-height: 140%;

            @media (min-width: 769px) {
                width: 40%;
                margin-left: 30%;
            }

            @media (max-width: 768px) {
                font-size: 24px;
                width: 80%;
                margin-left: 10%;
            }
        }
    }
    .process-sections {
        // margin-bottom: 100px;

        div.research-section {
            background: url(../img/user-research.jpg) no-repeat center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding: 15px 0 20px;
            margin-top: 25px;

            @media (max-width: 768px) {
                background: none;
                margin-top: 0;
            }

            .content-box {
                background-color: white;
                margin: 10px 0;
                padding: 19px 39px 47px;
                max-width: 395px;
                opacity: .9;

                @media (max-width: 768px) {
                    margin: 0 auto;
                    background-color: @border-grey;
                    padding: 15px 45px 37px;
                }

                h3 {
                    text-align: left;
                    font-size: 22px;
                    font-weight: 600;
                }
                p {
                    font-size: 17px;
                }
                img {
                    margin-right: 13px;
                }
            }
        }

        .bottom-three {
            width: 100%;

            .bottom-section {
                padding-left: 0px;
                padding-right: 0px;
                border: 1.5px solid #EFEFEF;

            }

            .image-top {
                padding: 130px 0;
                background-color: green;


            }
            .strategy {
                background: url(../img/web-strategy-planning.jpg) no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .layout {
                background: url(../img/website-wireframing.jpg) no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .prototypes {
                background: url(../img/visual-test.jpg) no-repeat center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .content-box {
                padding: 10px 25px 30px 45px;
                height: 300px;

                @media (max-width: 768px) {
                    height: auto;
                    background-color: @border-grey;
                    padding: 10px 34px 30px 54px;
                    margin-bottom: 22px;
                    }

                h3 {
                    text-align: left;
                    font-size: 22px;
                    font-weight: 600;
                }
                p {
                    font-size: 17px;
                }

                div.brands {
                    margin-bottom: 35px;


                }
                img {
                    margin-right: 15px;
                }
            }
        }
        // end of bottonm three
        div.course-details {
            text-align: center;

            button.btn-lg {
                margin: 40px 0 30px;
                color: #fff;
                padding: 17px 50px;
                font-weight: 700;
                font-size: 24px;
                background-color: rgba(53, 153, 216, 1);

                @media (max-width: 768px) {
                    padding: 12px 35px;
                }
            }
        }
    }
}

// MENTORS SECTION
section#mentors {
    margin-top: 100px;
    background-color: rgb(250,250,250);
    border: 2px solid rgb(245, 245, 245);
    padding: 60px 0 75px;

    ul.blue-points {
        margin-top: 30px;

        li {
            font-size: 14px;
            font-weight: 700;  
        }
    }

    div.leftcolumn{
        padding-right: 50px;

    }
    div.rightcolumn{
        padding-left: 25px;
    }

    h3{
        text-align: left;
        margin-bottom: 15px;
    }
    h4{
        line-height: 28.8999996185303px;
    }
}

#faq-question-box-small{
    cursor: help;
    width: 50px;
    height: 50px;
    z-index: 999;
    background-color: rgb(52, 152, 219);
    position: fixed;
    bottom: 25px;
    right: 15px;
    text-align: center;

    span{
        font-size: 40px; 
        color: white; 
        font-weight: 600; 
        position: fixed; 
        right: 32px; 
        bottom: 20px;
    }
}

#faq-question-box{
    cursor: help;
    width: 75px;
    height: 75px;
    z-index: 999;
    background-color: rgb(52, 152, 219);
    position: fixed;
    bottom: 25px;
    right: 15px;
    text-align: center;

    span{
        font-size: 60px; 
        color: white; 
        font-weight: 600; 
        position: fixed; 
        right: 40px; 
        bottom: 20px;
    }
}

section#home-faqs {
    background-color: #FAFAFA;
    padding: 40px 0 45px;

    .faq {
        h3 {
            margin-bottom: 50px;
        }
        div#more-questions {
            a.faq-link {
                margin-top: 25px;
                font-size: 18px;

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                i {
                    margin-left: 10px;
                }
            }
        }
        
    }
}

section#course-tuition{
        padding-top: 50px;

        @media (max-width: 768px) {
            padding-top: 25px;
        }



        h3 {
            @media (max-width: 991px) {
                font-size: 28px;
                line-height: 170%;
            }

            i {
                margin-right: 15px;
                margin-left: 15px;
            }
            span.plus {
                padding-left: 10px;
            }
        }
        p.tuition-note{
            font-size: 14px;
            color: rgb(173, 191, 203);
            text-align: center;
            margin-top: 25px;
        }
        .tuition-info{

            margin-top: 45px;
            border: 1px solid #ECECEC;
            border-radius: 5px;
            margin-right: 25px;
            margin-bottom: 75px;

            @media (max-width: 768px) {
                margin-bottom: 10px;
                margin-top: 15px;
            }

            p.tuition-header{
                color: black;
                font-size: 24px;
                text-align: center;
                font-weight: 600;
                margin-top: 20px;
            }
            p.tuition-price{
                font-size: 36px;
                font-weight: 400;
                text-align: center;
                color: rgb(52, 152, 219);;
            }
            p.tuition-price-note{
                font-size: 12px;
                color: rgb(145, 145, 145);;
                text-align: center;
                margin-top: -15px;
                font-weight: 600;
            }
            button{
                width: 100%;
                font-weight: 600;
                padding: 10px;  
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 15px;
                margin: 15px -15px 0;
                // padding-left: 15px;

                li {
                    font-size: 17px;
                    padding: 14px 0;
                    padding-left: 34px;

                    &:last-child {
                        border-bottom-right-radius:3px;
                        border-bottom-left-radius:3px;
                    }
                    &:nth-child(odd) {
                        background-color: #F7F7F7;
                    }
                    &:before {
                            font-family: FontAwesome;
                            content: "\f10c";
                            font-size: 8px;
                            color: orange;
                            margin-right: 14px;
                    }
                }
            }
        }
    }


section#course-section {
    
    
    button {
        margin-top: 20px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-style: none;
        background-color: #3498db;
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-family: Arial;
        text-align: center;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
        padding: 14px 30px;
    }
    button.apply {
        margin-top: 0;
    }
    img.top {
        margin-top: 80px;
    }
    img.top2 {
        margin-top: 65px;
        /*width: 647px;*/
        /*height: 672px;*/
    }

    div.chevron-down {
        text-align: center;

        img {
            height: 25px;
            // margin-top: 22px;
        }
    }

    

    

    div#home-faqs{
        margin-top: 25px;
        min-height: 640px;
        background-color: rgb(250,250,250);
        padding-left: 100px;
        padding-right: 100px;

        div.row{
            margin-bottom: 50px;
        }

        h3{
            font-size: 32px;
            color: rgb(53, 53, 53);
            text-align: center;
            margin-top: 50px;
            padding-right: 50px;
            margin-left: 25px;
        }
        h4{
            color: rgb(53, 53, 53);
            font-weight: 600;
            margin-top: 50px;
            padding-right: 50px;

            @media (max-width: 768px) {
                padding-right: 10px;
            }
        }
        p.faq-topic-answer{
            font-size: 15px;
            font-weight: 300;
            margin-top: 15px;
            padding-right: 50px;

            @media (max-width: 768px) {
                padding-right: 10px;
            }

            span.highlight-blue{
                color: rgb(52, 152, 219);
                font-weight: 600;
            }
            span.highlight-bold{
                color: rgb(89, 89, 89);
                font-weight: 600;
            }
        }
        p.faq-topic-meeting-title{
            margin-top: 25px;
            margin-bottom: 0px;
            padding-right: 50px;
            font-weight: 600;
            color: rgb(89,89,89);
        }
        p.faq-topic-meeting-list{
            margin: 0px;
            font-size: 15px;
            font-weight: 300;
            padding-right: 50px;
        }
        p.faq-topic-note{
            font-weight: 300;
            font-size: 12px;
            margin-top: 25px;
        }
        ul.faq-no-bullet-list{
            font-size: 15px;
            color: rgb(89, 89, 89);
            font-weight: 300;
            list-style-type: none;
            margin-top: 25px;
            padding: 0px;

            span.highlight-bold{
                font-weight: 600;
            }
        }
        ul.faq-blue-bullet-list{
            font-size: 15px;
            color: rgb(89,89,89);
            font-weight: 300;
            list-style-type: none;
            
            li:before{
                color: rgb(52, 152, 219);
                content:"\2022"; 
                font-size:1.5em; 
                padding-right:.5em; 
                position:relative;
                top:.1em; 
                margin-left: -25px;
            }
        }
    }

    div.highlights,
    div.students-learn,
    div.schedule,
    div.mentors {
        margin-top: 50px;
        margin-bottom: 70px;

        @media (max-width: 768px) {
            margin-top: 0;
            margin-bottom: 30px;
        }

        h3 {
            text-align: left;
            font-size: 44px;
            // margin-top: 30px;
        }
        p {
            font-size: 17px;
            font-weight: 400;
        }
        ul.items {
            list-style-type: none;
            padding: 0 2px 0 7px;
            margin-top: 24px;
            
            li {
                margin: 14px 0;
                font-weight: 600;
                color: rgb(116, 124, 131);

                i.fa {
                    color: #3599d8;
                    margin-right: 7px;
                    font-size: 10px;
                    font-weight: bolder;
                }
            }
        }
    }
    div.schedule {
        h3 {
            font-size: 24px;
            font-weight: 600;
        }
    }
    // cta section
    div.cta {
        background-color: #fafafa;
        text-align: center;
        padding: 60px 40px 100px;

        h3.cta-heading {
            font-weight: 600;
        }
        .options-tuition {
            border-right: 1px solid #E4E4E4;

            @media (max-width: 768px) {
                border-right: none;
            }

        }
        .options-tuition,
        .start-app {
            margin-top: 45px;
            padding: 20px 55px;

            h5 {
                margin-top: 30px;
                font-weight: 600;
                font-size: 17px;
            }
        }
    }
    div.students-learn {
        
        div.container{
            padding: 0px;
            margin-top: -35px;
            // width: 100%;

            .ux-plat{
                width: 50%;
                height: 652px;
                /*margin-top: 40px;*/
                background-image: url('/assets/img/what-youll-learn.jpg');
                background-size: cover;
            }
            .youll-learn{
                padding-left: 50px;
                padding-top: 55px;

                @media (max-width: 768px) {
                    padding-left: 35px;
                    padding-top: 10px;
                }

                h3.heading {
                    font-size: 36px;
                    margin-bottom: 25px;
                }

                p {
                    margin-top: 25px;
                }
            }
        }

        div.container-stats{
            background-color: #FAFAFA;
            margin-bottom: 50px;
            margin-top: 25px;
            padding-bottom: 94px;

            @media (max-width: 768px) {
                margin-top: 70px;
            }

            
            div.mid-stat,
            div.left-stat,
            div.right-stat {
                height: 75px;
                margin-top: 50px;
                text-align: center;

                @media (max-width: 768px) {
                    margin-top: 55px;
                }

                p.stat-title{
                    color: #323A45;
                    padding: 0px;
                    margin: 0px;
                    margin-left: 20px;
                    font-size: 20px;

                }

                 p.stat-source {
                    color: rgb(160, 160, 160);
                    font-size: 13px;
                    margin-left: 20px;

                    a{
                        text-decoration: underline;
                        color: #3498DB;
                    }
                }
            }

            p.stat{
                font-size: 60px;
                color: #151515;
                margin-bottom: 0px;
                margin-top: -20px;

                @media (max-width: 768px) {
                    margin-top: 0px;
                    font-size: 40px;
                }
            }
            span{
                color: #3498DB;
                font-size: 32px;
                vertical-align: top;
                padding-right: 5px;                
            }

            i {
                color: #3498DB;
                font-size: 18px;
                vertical-align: top;  
                margin-top: 35px;
                padding-right: 5px;
            }
        }

        h5.tools {
            font-weight: 500;
            margin-top: 40px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 14px;
            color: #747C83;
        }
        .tools-logos {
            padding-left: 30px;

            img {
                margin-right: 40px;
                margin-top: 15px;
            }
        }
        .tools-used {
            border-top: 1px solid #F2F2F2;
            border-bottom: 1px solid #F2F2F2;
            margin: 45px 0 0 0;
            padding: 35px 0px;

            .logos-wrapper {
                -webkit-box-align: center;
                align-items: center;
                display: flex;
                height: auto;

                figure {
                    -webkit-box-flex: 1;
                    flex: 1;

                    img {
                        max-width: 80%;
                    }
                }
            }
        }
    }
}
/*div#tuition {
    
    margin-top: 50px;
    div#tuition_row{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        background-color: rgb(245,245,245);
        height: 450px;
        
        p#tuition_header{
            font-size: 36px;
        }   
    }
}*/

div#pricing-info{
    margin-top: 25px;
    padding-bottom: 100px;
    min-height: 500px;
    background-color: rgb(27, 47, 60);

    h3{
        color: white; 
        margin-top: 50px; 
        margin-left: 75px; 
        position: absolute;
    }

    fieldset{
        border: 2px solid rgb(32, 55, 82); 
        margin-left: 125px; 
        margin-right: 125px; 
        margin-top: 125px;
        padding: 50px; 
        min-height: 275px;

        legend{
            transform: matrix(1, 0, 0, 1, 0, -20);
            background-color: rgb(52, 152, 219); 
            border: none; 
            width: 300px; 
            height: 100px; 
            margin: 0 auto; 
            font-size: 48px; 
            color: white; 
            padding-top: 15px; 
            padding-left: 85px;
        }
        div#pricing-columns{
            margin-top: -50px;

            div.pricing-items{
                /*border: 1px solid black;*/
                min-height: 125px; 


                div.pricing-icons{
                    display: inline-block;
                    margin-top: 25px;
                    width: 45px;
                    vertical-align: top;
                    position: absolute;
                }
                div.pricing-text{
                    display: inline-block;
                    /*border: 1px solid black;*/
                    margin-left: 45px;
                    padding-top: 15px;
                    vertical-align: top;
                    height: 100%;

                    h4{
                        font-size: 20px;
                        color: white;
                        font-weight: 300;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 300;
                        color: rgb(173, 191, 203);
                    }
                }
            }
        }
    }
}

div#faq-container{

    h3{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    div.faq-columns{
        padding-left: 100px;
        padding-top: 25px;
        padding-right: 75px;
        padding-bottom: 25px;
        vertical-align: top;

        h4{
            font-weight: 700;
            margin-bottom: 25px;
        }
        p{
            font-weight: 300;
            margin-bottom: 50px;
        }
    }
}


div#learn-ux-cta{
    background-color: #FAFAFA;
    padding-bottom: 45px;
    border-top: 1px solid #EFEFEF;


    h3{
        font-size: 38px;
        margin-top: 60px;
        color: rgb(21,21,21);

        @media (max-width: 768px) {
            font-size: 24px;
            margin-bottom: 25px;
        }

        span{
            font-weight: 600;
        }
    }
    form{
        text-align: center;
        
        div.inner-addon{
            height: 45px;
            width: 250px;
            display: inline-block;

            i{
                font-size: larger;
                margin-top: 5px;
                color: rgb(166,166,166);
            }

            input{
                border: 2px solid rgb(228, 228, 228);
                /*border-radius: 2px;*/
                /*border: 1px;*/
                height: 45px;

            }
        }
        #learn-ux-submit{
            display: inline-block;
            font-size: 16px;
            background-color: rgb(52, 152, 219);
            padding: 10px 55px;
            font-weight: 600;
        }
    }    
    p{
        font-size: 12px;
        color: rgb(160,160,160);
        margin-top: -35px;
        text-align: center;
        font-weight: 300;
    }

    div.message{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/*======= Start Input Icons ===========*/
    .inner-addon { 
        position: relative; 
    }

    /* style icon */
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
    }

    /* align icon */
    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    /* add padding  */
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }

/*======= End Input Icons ===========*/

div#tuition {
    margin-bottom: 50px;

    div.price {
        text-align: center;
        background-color: @dark-blue;
        margin: 0 auto;
        border-radius: 2px;
        padding: 10px 5px 15px;

        h3.number {
            font-size: 48px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 500;
            border-radius: 18px;
        }
    }
    // .main-reasons {
    h2.tuition {
        text-align: left;
    }
    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid #E2E2E2;
        border-left: 1px solid #E2E2E2;
        border-right: 1px solid #E2E2E2;

        li {
            padding: 15px 0;
            background-color: @border-grey;
            border-bottom: 1px solid #E2E2E2;
        }
    }
    .payment-card {
        margin-top: 10px;
    }
    .questions-section {
        border: 2px solid #f7f7f7;
        margin-top: 10px;
        padding: 10px 20px;
        margin-left: 10px;
    }
    .questions {
        margin-top: 30px;
        padding-bottom: 20px;

        h4 {
            font-weight: 600;
        }
    }
    // }

    
}



// FAQ SECTION
    div.faq {

        a {
            font-weight: 400;
        }


        div.row{
            margin-bottom: 50px;
        }

        h3.faq{
            font-size: 32px;
            color: rgb(53, 53, 53);
            text-align: left;
            margin-top: 50px;
            padding-right: 50px;
            margin-left: 25px;
        }
        hr{
            margin-left: 25px;
            margin-right: 25px;
        }
        h4{
            color: rgb(53, 53, 53);
            font-weight: 600;
            padding-right: 50px;
            margin-top: 25px;
            font-size: 20px;
            line-height: 140%;
        }
        p.faq-topic-answer{
            font-size: 17px;
            font-weight: 300;
            margin-top: 15px;
            padding-right: 50px;
            line-height: 140%;

            @media (max-width: 768px) {
                padding-right: 10px;
            }

            span.highlight-blue{
                color: rgb(52, 152, 219);
                font-weight: 600;
            }
            span.highlight-bold{
                color: rgb(89, 89, 89);
                font-weight: 600;
            }
        }
        p.faq-topic-meeting-title{
            margin-top: 25px;
            margin-bottom: 0px;
            padding-right: 50px;
            font-weight: 600;
            color: rgb(89,89,89);
        }
        p.faq-topic-meeting-list{
            margin: 0px;
            font-size: 15px;
            font-weight: 300;
            padding-right: 50px;
        }
        p.faq-topic-note{
            font-weight: 300;
            font-size: 12px;
            margin-top: 25px;
        }
        ul.faq-no-bullet-list{
            font-size: 15px;
            color: rgb(89, 89, 89);
            font-weight: 300;
            list-style-type: none;
            margin-top: 25px;
            padding: 0px;

            span.highlight-bold{
                font-weight: 600;
            }
        }
        ul.faq-blue-bullet-list{
            font-size: 15px;
            color: rgb(89,89,89);
            font-weight: 300;
            list-style-type: none;
            
            li:before{
                color: rgb(52, 152, 219);
                content:"\2022"; 
                font-size:1.5em; 
                padding-right:.5em; 
                position:relative;
                top:.1em; 
                margin-left: -25px;
            }
        }


        h3.faq-header {
            text-align: left;
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 25px;
            font-weight: 600;
        }
        h4 {
            font-weight: 17;
            font-weight: 600;
            margin-bottom: 5px;

            a {
                color: #868686;
            }
        }
        div.panel-group {
            margin-bottom: 40px;
        }
        div.panel {
            margin: 0 0 25px 0;
        }
    } 
div.thank-you {
    margin-bottom: 50px;
}
// APPLY SECTION
.apply {
    .student-application {
        margin: -55px 0 35px;
        padding: 35px 40px 30px;
        background-color: #EFEFEF;
        border-radius: 3px;

    }
    .right {
        margin-top: 20px;
        padding: 30px 40px;
        border: 2px solid @border-grey;

        .questions {
            margin-top: 30px;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-top: 7px;

                    &:last-child {
                        font-weight: 600;
                    }
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }

                    i {
                        margin-right: 10px;
                        color: @cta-blue;
                    }

                }
            }
        }

        h4 {
            font-wight: 600;
            text-align: left;
            font-size: 20px;
            margin-top: 10px;
        }
        ol {
            li {
                margin-top: 7px;
                font-weight: 700;
            }
        }
    }
}

// social section
section#social-section {
    background-color: rgb(30, 41, 51);
    padding: 15px;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 0px;

    div.headline {
        h3.content {
            font-weight: 600;
            color: rgb(255,255,255);
        }
        p {
            font-size: 17px;
        
        }
    }
    .social {
        font-size: 60px;
        /*padding: 25px;*/
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;

        .facebook,
        .twitter,
        .google-plus {
            border: 2px solid @cta-blue;
            border-radius: 100%;
            margin: 0 auto;
            color: @dark-blue;
            width: 175px;
            height: 175px;
            margin-right: 10px;

             i.fa {
                margin: auto;
                padding: 60px;
            }
        }
        .facebook {
            i.fa {

                &:hover {
                    color: white;
                }
            }

            &:hover {
                color: white;
                background-color: #3b5998;
                border: 2px solid #3b5998;
            }
        }
        .twitter {
            i.fa {

                &:hover {
                    color: white;
                }
            }

            &:hover {
                color: white;
                background-color: #55acee;
                border: 2px solid #55acee;
            }
        }
        .google-plus {
            i.fa {

                &:hover {
                    color: white;
                }
            }

            &:hover {
                color: white;
                background-color: #d34836;
                border: 2px solid #d34836;
            }
        }
    }
}

/* AJAX Response Messages */

h4#question_modal{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.ajax_message{
    color: rgb(247,247,247);
    text-align: center;
    font-size: 14px;
}

div.informed_message{
    h5{
        text-align: center;
        color: white;
    }
}
div.question_message{
    h5{
        font-size: 16px;
        text-align: center;
        margin: 25%;
    }
}


/* Contact Us Section */
section#contact-section{

    div#map-canvas{
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
}


// CTA Section
section#cta-sections {
    text-align: center;

    .bottom-cta-section {
        margin-top: 25px;

        h4.bottom-cta {
            font-size: 22px;
            color: white;
        }
        p.sub-section {
            color: #ADBFCB;
            font-size: 15px;
        }
        .left,
        .right,
        .middle {
            padding: 40px 50px;
            height: 200px;

            a {
                font-weight: 700;
                font-size: 17px;
                
                &:hover {
                    text-decoration: none;
                    color: @cta-blue;
                }
                i.fa {
                    margin-left: 4px;
                }
            }
        }
        .left {
            background-color: #242F3B;
        }
        .middle {
            background-color: #141C25;
        }
        .right {
            background-color: #242F3B;
        }
    }
}


// #design_course_bg{
//     background-image: url('/assets/img/course-heroes.jpg');
//     height: 460px;
// }
#faq_bg{
    background-image: url('/assets/img/course-heroes.jpg');
    height: 460px;
}
#faq_bg{
    height: 350px;
}


// inside template
body#inside-pages {

    section#intro {
        .course-hero {
            padding-top: 60px;
            margin-top: -79px;
            /*height: 460px;*/
            background-size: cover;
            background-color: rgb(24,32,40);


            h2{
                font-size: 48px;
                font-weight: 400;
                font-style: normal;
                color: white;
                letter-spacing: .5px;
                margin: auto 0;
                text-align: center;
                margin-top: 80px;
                line-height: 130%;

                @media (max-width: 768px) {
                    font-size: 26px;
                }
            } 
            h1.hero-small {
                text-align: center;
                margin: 10px auto;
                font-size: 20px;
                font-weight: 300;

                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }
            .hero-content {
                margin-bottom: 15px;

                @media (max-width: 768px) {
                    margin-bottom: 20px;
                }
            }
            div.ctas {
                text-align: center;
                margin-top: 40px;

                button.btn-primary {
                    margin-right: 15px;
                }
                button.btn-default {
                    margin-left: 15px;
                }

            }
            .chevron {
                text-align: center;

                i.fa {
                    font-size: 30px;
                    margin-top: 30px;
                    color: #3C4E61;

                    @media (max-width: 768px) {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                }
                
            }
            
        }
        // mobile hero
        .hero-mobile {
            

            // background: url(http://placehold.it/768x400) no-repeat center;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;


            h2{
                font-size: 44px;
                font-weight: 600;
                color: white;
                letter-spacing: .5px;
                margin: auto 0;
                text-align: center;

            } 
            h1.hero-small {
                text-align: center;
                margin: 20px auto;
                font-size: 17px;
            }
            div.ctas {
                text-align: center;
                margin-top: 30px;

                button.btn-primary {
                    margin-right: 3px;
                    padding: 6px 25px;
                    font-size: 14px;
                    margin-top: 10px;
                    border-radius: 2px;
                    border-bottom: 3px solid #216FA0;
                }
                button.btn-default {
                    margin-left: 3px;
                    padding: 6px 25px;
                    font-size: 14px;
                    margin-top: 10px;
                    border-radius: 2px;
                    border-bottom: 3px solid #216FA0;
                }
            }
            .chevron {
                text-align: center;

                a {
                    color: #314763;

                    &:hover {
                        color: #2E507B;
                    }

                    i.fa {
                        font-size: 30px;
                        margin-top: 76px;
                    }
                }
                
            }
        }

        

    }
}

section#webinar{
    width: 100%;
    height: 225px;
    
    div#webinar-cta{
        padding-top: 25px;
        padding-right: 50px;


        h4{
            font-size: 20px;
            font-weight: 600;
        }

        p{
            font-size: 17px;
            font-weight: 300;
        }
        a{
            display: inline-block;
            vertical-align: top;
            color: rgb(52, 152, 219);
            font-size: 14px;
            font-weight: 500;

        }
        i{
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: rgb(52, 152, 219);
            margin-left: 5px;
            margin-top: 2px;
        }
    }

    div#staff-rollcall{
        height: 225px;

        div.staff-callcard{
            padding-top: 30px;
            text-align: center;
            display: inline-block;


            div.staff-pic{
                display: inline-block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

                p.staff-name{
                    margin: 0px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                }
                p.staff-position{
                    margin-top: 0px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: normal;
                    color: black;
                }
            
            div#staff-left{
                background-image: url('/assets/img/michael-joseph-bw.jpg');
                background-size: cover;
            }
            div#staff-mid{
                background-image: url('/assets/img/melinda-career-services.jpg');
                background-size: cover;
            }
            div#staff-right{
                background-image: url('/assets/img/josh-rieland.jpg');
                background-size: cover;
            }
        }
    }
}

section#brands {
    .brand-logos {
        margin: 15px 0 0 0;
    }
    p.logo-text {
        text-align: center;
        margin-top: 20px;
        background-color: white;
    }
    img {
        height: 55px;
    }
    hr {
        margin-top: 0;
    }
}

// FAQ SECTION


// FOOTER SECTION
footer#footer {
    padding: 20px 0;
    background-color: @dark-blue;

    div.footer-nav {

        a {
            color: #ADBFCB;
            font-size: 17px;
            margin-right: 20px;
        }
        span.copyright {
            color: #A3BFC0;
            font-size: 15px;
            margin-left: 25px;
        }
        

        ul.footer-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
            // margin-top: -20px;

             li {
                display: inline;
                margin-right: 20px;
                font-size: 12px;
                font-weight: 400;
                margin-top: -20px;

                @media (max-width: 768px) {
                    margin-left: 0;
                    margin-right: 10px;
                }
                span.questions {
                    color: #A3BFC0;
                    font-size: 17px;
                }

                a {
                    color: #A3BFC0;
                    font-size: 14px;
                    margin-left: 10px;

                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        color: #5594BD;
                    }
                }

                a.copyright {
                     color: #ADBFCB;
                     text-decoration: none;
                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                        color: #ADBFCB;
                    } 
                }
            }
        }
    }
}