// Variables

@primary: #42DCA3;
@dark-grey: #323A45;
@border-grey: #F7F7F7;

@dark-blue: #182028;
@font-grey:#747C83;

@cta-blue: #3599d8;
@light-blue: #1c6a9e;
@blue: #16598c;
@secondary-dark-blue: #253140;
@text-blue: #adbfcb;