body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323A45;
}
h1 {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ADBFCB;
  line-height: 140%;
  letter-spacing: .5px;
}
h2.hero-heading {
  font-size: 55px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  color: #323a45;
  text-align: center;
}
h3 {
  font-size: 36px;
  color: #323a45;
  text-align: center;
}
p {
  color: #747c83;
  line-height: 150%;
  font-size: 14px;
}
p.large {
  font-size: 17px;
}
button.btn-primary,
button.btn-default {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
button.btn-hero {
  background-color: rgba(53, 153, 216, 0.7);
  border-color: none;
  color: white;
  padding: 10px 50px;
}
button.btn-hero:hover {
  background-color: #3599d8;
  border-color: #3599d8;
}
button.btn-primary {
  background-color: #3599d8;
  border-color: #3599d8;
  color: white;
  padding: 10px 50px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
button.btn-primary:hover {
  background-color: #3189C1;
  border-color: #3599d8;
}
button.btn-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: none;
  color: #3599d8;
  padding: 10px 35px;
  border-radius: 2px;
  border-bottom: 3px solid #A2A5A7;
}
button.btn-default:hover,
button.btn-default:focus,
button.btn-default:active {
  background-color: #ffffff;
  border-color: white;
  color: #3599d8;
  border-bottom: 3px solid #C4C7CA;
}
nav.navbar {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  margin-bottom: 0;
}
@media (max-width: 768px) {
  nav.navbar {
    background-color: #182028;
  }
}
nav.navbar div.navbar-header {
  text-align: center;
}
nav.navbar div.navbar-header button {
  margin-top: 19px;
  margin-right: 27px;
  background-color: #3599d8;
  margin-bottom: 20px;
  border-color: #3599d8;
}
nav.navbar div.navbar-header button:hover,
nav.navbar div.navbar-header button:focus,
nav.navbar div.navbar-header button:active {
  background-color: #3599d8;
  border-color: #3599d8;
}
nav.navbar div.navbar-header button span.icon-bar {
  width: 15px;
  height: 2px;
}
nav.navbar div.navbar-header a img {
  display: inline-block;
  margin-top: 0px;
}
@media (max-width: 368px) {
  nav.navbar div.navbar-header a img {
    height: 40px;
    margin-top: 2px;
  }
}
nav.navbar div.navbar-header a p.logo-text {
  font-size: 26px;
  color: white;
}
nav.navbar div.navbar-collapse {
  font-size: 16px;
  margin-top: 18px;
  border-color: none;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse {
    background-color: #253140;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav {
  float: right;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse ul.navbar-nav {
    float: none;
    text-align: center;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav li {
  margin-left: 30px;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse ul.navbar-nav li {
    margin-left: 0;
    margin-top: 10px;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav li:last-child {
  margin-bottom: 10px;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a {
  color: white;
  font-weight: 300;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a:hover {
  text-decoration: underline;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a span {
  font-weight: 500;
}
nav.navbar div.navbar-collapse ul.navbar-nav.visible-xs {
  text-align: center;
}
section#intro .hero {
  margin-top: -79px;
  height: 650px;
  background: url(../img/ux-designers-hero.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#intro .hero h2 {
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
  margin-top: 190px;
}
section#intro .hero h1.hero-small {
  text-align: center;
  margin: 20px auto;
}
section#intro .hero div.ctas {
  text-align: center;
  margin-top: 40px;
}
section#intro .hero div.ctas button.btn-primary {
  margin-right: 15px;
}
section#intro .hero div.ctas button.btn-default {
  margin-left: 15px;
}
section#intro .hero .chevron {
  text-align: center;
}
section#intro .hero .chevron i.fa {
  font-size: 30px;
  margin-top: 100px;
  color: #3C4E61;
}
section#intro .hero-mobile {
  margin-top: -50px;
  height: 500px;
  background-color: #182028;
}
section#intro .hero-mobile .hero-content {
  padding: 135px 15px 0;
}
section#intro .hero-mobile h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
}
section#intro .hero-mobile h1.hero-small {
  text-align: center;
  margin: 20px auto;
  font-size: 17px;
}
section#intro .hero-mobile div.ctas {
  text-align: center;
  margin-top: 30px;
}
section#intro .hero-mobile div.ctas button.btn-primary {
  margin-right: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
}
section#intro .hero-mobile div.ctas button.btn-default {
  margin-left: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
}
section#intro .hero-mobile .chevron {
  text-align: center;
}
section#intro .hero-mobile .chevron i.fa {
  font-size: 30px;
  margin-top: 76px;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 60px;
}
.subtitle img,
.subtitle p {
  display: inline-block;
}
.subtitle p {
  font-weight: 600;
}
.subtitle img {
  height: 25px;
  margin: 18px 9px 5px 2px;
}
section.course-2 .container {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 1174px) {
  section.course-2 .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
section.course-2 .container h2 {
  font-size: 36px;
  font-weight: 400;
}
section.course-2 .container h2 span {
  font-weight: 600;
}
section.course-2 .container ul.selling-points {
  padding-top: 10px;
  padding-left: 10px;
}
section.course-2 .container ul.selling-points .fa {
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  color: #3498db;
  /*margin-right: 10px;*/
}
section.course-2 .container ul.selling-points p {
  padding-left: 5px;
  vertical-align: top;
  margin-top: -2px;
  width: 90%;
  display: inline-block;
  /*margin-left: -25px;*/
  text-align: left;
  font-size: 12px;
}
section#course div.headline h2.course-for {
  margin: 15px 0 20px;
}
section#course div.audience {
  margin: 0 -30px 50px;
}
section#course div.audience .row {
  margin: 0 -35px;
}
section#course div.audience .column {
  padding: 0px 3px;
  margin-top: 5px;
  text-align: center;
}
section#course div.audience .column .column-section {
  border: 2px solid #f7f7f7;
  padding: 40px 5px;
  height: 370px;
}
@media (max-width: 768px) {
  section#course div.audience .column .column-section {
    height: auto;
  }
}
section#course div.audience .column .column-section div.icon {
  text-align: center;
}
section#course div.audience .column .column-section div.icon img {
  margin-bottom: 12px;
  height: 75px;
}
section#course div.audience .column .column-section h4,
section#course div.audience .column .column-section p.subtext {
  text-align: center;
}
section#course div.audience .column .column-section h4 {
  font-size: 24px;
}
section#course div.audience .column .column-section h4 strong {
  font-weight: 600;
}
section#course div.audience .column .column-section p.subtext {
  font-size: 14px;
}
section#course div.audience .column .column-section b {
  font-size: 12px;
}
section#course div.audience .column .column-section ul.items {
  list-style-type: none;
  padding: 0 2px 0 7px;
  margin-top: 24px;
}
section#course div.audience .column .column-section ul.items li {
  margin: 7px 0;
  font-weight: 600;
  font-size: 12px;
}
section#course div.audience .column .column-section ul.items li i.fa {
  color: #3599d8;
  margin-right: 7px;
  font-size: 10px;
}
section#course div.audience .column-hero {
  margin-top: 30px;
}
section#design-process div.chevron-down {
  text-align: center;
}
section#design-process div.chevron-down img {
  height: 30px;
}
section#design-process hr {
  border-top: 2px solid #f7f7f7;
}
@media (max-width: 768px) {
  section#design-process .headline-area {
    margin-top: 30px;
  }
}
section#design-process .headline-area h2 {
  line-height: 140%;
}
@media (max-width: 768px) {
  section#design-process .headline-area h2 {
    font-size: 24px;
  }
}
section#design-process .process-sections div.research-section {
  background: url(../img/user-research.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px 0 20px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.research-section {
    background: none;
    margin-top: 0;
  }
}
section#design-process .process-sections div.research-section .content-box {
  background-color: white;
  margin: 10px 0;
  padding: 19px 39px 47px;
  max-width: 395px;
  opacity: .9;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.research-section .content-box {
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 15px 45px 37px;
  }
}
section#design-process .process-sections div.research-section .content-box h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
section#design-process .process-sections div.research-section .content-box p {
  font-size: 17px;
}
section#design-process .process-sections div.research-section .content-box img {
  margin-right: 13px;
}
section#design-process .process-sections .bottom-three {
  width: 100%;
}
section#design-process .process-sections .bottom-three .bottom-section {
  padding-left: 0px;
  padding-right: 0px;
  border: 1.5px solid #EFEFEF;
}
section#design-process .process-sections .bottom-three .image-top {
  padding: 130px 0;
  background-color: green;
}
section#design-process .process-sections .bottom-three .strategy {
  background: url(../img/web-strategy-planning.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .layout {
  background: url(../img/website-wireframing.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .prototypes {
  background: url(../img/visual-test.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .content-box {
  padding: 10px 25px 30px 45px;
  height: 300px;
}
@media (max-width: 768px) {
  section#design-process .process-sections .bottom-three .content-box {
    height: auto;
    background-color: #f7f7f7;
    padding: 10px 34px 30px 54px;
    margin-bottom: 22px;
  }
}
section#design-process .process-sections .bottom-three .content-box h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
section#design-process .process-sections .bottom-three .content-box p {
  font-size: 17px;
}
section#design-process .process-sections .bottom-three .content-box div.brands {
  margin-bottom: 35px;
}
section#design-process .process-sections .bottom-three .content-box img {
  margin-right: 15px;
}
section#design-process .process-sections div.course-details {
  text-align: center;
}
section#design-process .process-sections div.course-details button.btn-lg {
  margin: 40px 0 30px;
  color: #fff;
  padding: 17px 50px;
  font-weight: 700;
  font-size: 24px;
  background-color: #3599d8;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.course-details button.btn-lg {
    padding: 12px 35px;
  }
}
section#course-section {
  height: 500px;
}
section#course-section .container {
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
}
@media (max-width: 1174px) {
  section#course-section .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
section#course-section button {
  margin-top: 30px;
  width: 160px;
  height: 65px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-style: none;
  background-color: #3498db;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
}
section#course-section button.apply {
  margin-top: 0;
}
section#course-section img.top {
  margin-top: 40px;
  min-width: 588px;
  min-height: 440px;
}
section#course-section img.top2 {
  margin-top: 65px;
  /*width: 647px;*/
  /*height: 672px;*/
}
section#course-section div.chevron-down {
  text-align: center;
}
section#course-section div.chevron-down img {
  height: 25px;
}
section#course-section div.highlights,
section#course-section div.students-learn,
section#course-section div.schedule,
section#course-section div.mentors {
  margin-top: 50px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  section#course-section div.highlights,
  section#course-section div.students-learn,
  section#course-section div.schedule,
  section#course-section div.mentors {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
section#course-section div.highlights h3,
section#course-section div.students-learn h3,
section#course-section div.schedule h3,
section#course-section div.mentors h3 {
  text-align: left;
  font-size: 44px;
}
section#course-section div.highlights p,
section#course-section div.students-learn p,
section#course-section div.schedule p,
section#course-section div.mentors p {
  font-size: 17px;
  font-weight: 400;
}
section#course-section div.highlights ul.items,
section#course-section div.students-learn ul.items,
section#course-section div.schedule ul.items,
section#course-section div.mentors ul.items {
  list-style-type: none;
  padding: 0 2px 0 7px;
  margin-top: 24px;
}
section#course-section div.highlights ul.items li,
section#course-section div.students-learn ul.items li,
section#course-section div.schedule ul.items li,
section#course-section div.mentors ul.items li {
  margin: 14px 0;
  font-weight: 600;
  color: #747c83;
}
section#course-section div.highlights ul.items li i.fa,
section#course-section div.students-learn ul.items li i.fa,
section#course-section div.schedule ul.items li i.fa,
section#course-section div.mentors ul.items li i.fa {
  color: #3599d8;
  margin-right: 7px;
  font-size: 10px;
  font-weight: bolder;
}
section#course-section div.schedule h3 {
  font-size: 24px;
  font-weight: 600;
}
section#course-section div.cta {
  background-color: #fafafa;
  text-align: center;
  padding: 60px 40px 100px;
}
section#course-section div.cta h3.cta-heading {
  font-weight: 600;
}
section#course-section div.cta .options-tuition {
  border-right: 1px solid #E4E4E4;
}
@media (max-width: 768px) {
  section#course-section div.cta .options-tuition {
    border-right: none;
  }
}
section#course-section div.cta .options-tuition,
section#course-section div.cta .start-app {
  margin-top: 45px;
  padding: 20px 55px;
}
section#course-section div.cta .options-tuition h5,
section#course-section div.cta .start-app h5 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 17px;
}
section#course-section div.students-learn div.container {
  background-color: #f7f7f7;
  padding: 0px;
  /*margin-top: -35px;*/
  width: 100%;
}
section#course-section div.students-learn div.container .ux-plat {
  width: 50%;
  height: 652px;
  /*margin-top: 40px;*/
  background-image: url('/assets/img/what-youll-learn.jpg');
  background-size: cover;
}
section#course-section div.students-learn div.container .youll-learn {
  background-color: #f7f7f7;
  min-height: 652px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  /*margin-top: 40px;*/
  /*margin-left: -15px;*/
  width: 50%;
}
section#course-section div.students-learn div.container .youll-learn h3.heading {
  font-size: 36px;
  margin-bottom: 25px;
}
section#course-section div.students-learn div.container .youll-learn p {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
}
section#course-section div.students-learn div.container-stats {
  height: 225px;
  background-color: #1b2f3c;
}
section#course-section div.students-learn div.container-stats div.mid-stat {
  height: 75px;
  margin-top: 50px;
  text-align: center;
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-title {
  color: #adbfcb;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  font-size: 20px;
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-source {
  color: #adbfcb;
  font-size: 13px;
  margin-left: 20px;
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-source a {
  text-decoration: underline;
  color: #adbfcb;
}
section#course-section div.students-learn div.container-stats div.left-stat {
  height: 75px;
  margin-top: 50px;
  text-align: right;
}
section#course-section div.students-learn div.container-stats div.left-stat p.stat-title {
  color: #adbfcb;
  padding: 0px;
  margin: 0px;
  margin-right: 25px;
  font-size: 20px;
}
section#course-section div.students-learn div.container-stats div.left-stat p.stat-source {
  color: #adbfcb;
  font-size: 13px;
  margin-right: 38px;
}
section#course-section div.students-learn div.container-stats div.left-stat p.stat-source a {
  text-decoration: underline;
  color: #adbfcb;
}
section#course-section div.students-learn div.container-stats div.right-stat {
  height: 75px;
  margin-top: 50px;
  text-align: left;
}
section#course-section div.students-learn div.container-stats div.right-stat p.stat-title {
  color: #adbfcb;
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
  font-size: 20px;
}
section#course-section div.students-learn div.container-stats div.right-stat p.stat-source {
  color: #adbfcb;
  font-size: 13px;
  margin-left: 26px;
}
section#course-section div.students-learn div.container-stats div.right-stat p.stat-source a {
  text-decoration: underline;
  color: #adbfcb;
}
section#course-section div.students-learn div.container-stats p.stat {
  font-size: 60px;
  color: white;
  margin-bottom: 0px;
  margin-top: -20px;
}
section#course-section div.students-learn div.container-stats span {
  color: #9bbdd4;
  font-size: 32px;
  vertical-align: top;
}
section#course-section div.students-learn div.container-stats i {
  color: #9bbdd4;
  font-size: 22px;
  vertical-align: top;
  margin-top: 35px;
}
section#course-section div.students-learn h5.tools {
  font-size: 20px;
  font-weight: 500;
  margin-top: 45px;
}
section#course-section div.students-learn .tools-logos {
  padding-left: 30px;
}
section#course-section div.students-learn .tools-logos img {
  margin-right: 40px;
  margin-top: 15px;
}
/*div#tuition {
    
    margin-top: 50px;
    div#tuition_row{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        background-color: rgb(245,245,245);
        height: 450px;
        
        p#tuition_header{
            font-size: 36px;
        }   
    }
}*/
div#tuition {
  background-color: #f7f7f7;
  margin-top: 50px;
  margin-bottom: 50px;
}
div#tuition div.price {
  text-align: center;
  background-color: #182028;
  margin: 0 auto;
  border-radius: 2px;
  padding: 10px 5px 15px;
}
div#tuition div.price h3.number {
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  border-radius: 18px;
}
div#tuition h2.tuition {
  text-align: left;
}
div#tuition ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
}
div#tuition ul li {
  padding: 15px 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #E2E2E2;
}
div#tuition .payment-card {
  margin-top: 10px;
}
div#tuition .questions-section {
  border: 2px solid #f7f7f7;
  margin-top: 10px;
  padding: 10px 20px;
  margin-left: 10px;
}
div#tuition .questions {
  margin-top: 30px;
  padding-bottom: 20px;
}
div#tuition .questions h4 {
  font-weight: 600;
}
div.faq h3.faq-header {
  text-align: left;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 600;
}
div.faq h4 {
  font-weight: 17;
  font-weight: 600;
  margin-bottom: 5px;
}
div.faq h4 a {
  color: #868686;
}
div.faq div.panel-group {
  margin-bottom: 40px;
}
div.faq div.panel {
  margin: 0 0 25px 0;
}
div.thank-you {
  margin-bottom: 50px;
}
.apply .student-application {
  margin: -55px 0 35px;
  padding: 35px 40px 30px;
  background-color: #EFEFEF;
  border-radius: 3px;
}
.apply .right {
  margin-top: 20px;
  padding: 30px 40px;
  border: 2px solid #f7f7f7;
}
.apply .right .questions {
  margin-top: 30px;
}
.apply .right .questions ul {
  list-style-type: none;
  padding: 0;
}
.apply .right .questions ul li {
  margin-top: 7px;
}
.apply .right .questions ul li:last-child {
  font-weight: 600;
}
.apply .right .questions ul li a:hover {
  text-decoration: none;
}
.apply .right .questions ul li i {
  margin-right: 10px;
  color: #3599d8;
}
.apply .right h4 {
  font-wight: 600;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
.apply .right ol li {
  margin-top: 7px;
  font-weight: 700;
}
section#social-section {
  text-align: center;
  margin: 20px 0;
}
section#social-section div.headline h3.content {
  font-weight: 600;
}
section#social-section div.headline p {
  font-size: 17px;
}
section#social-section .social {
  font-size: 60px;
  padding: 25px;
}
section#social-section .social .facebook,
section#social-section .social .twitter,
section#social-section .social .google-plus {
  border: 2px solid #3599d8;
  border-radius: 100%;
  margin: 0 auto;
  color: #182028;
  width: 175px;
  height: 175px;
  margin-right: 10px;
}
section#social-section .social .facebook i.fa,
section#social-section .social .twitter i.fa,
section#social-section .social .google-plus i.fa {
  margin: auto;
  padding: 60px;
}
section#social-section .social .facebook i.fa:hover {
  color: white;
}
section#social-section .social .facebook:hover {
  color: white;
  background-color: #3b5998;
  border: 2px solid #3b5998;
}
section#social-section .social .twitter i.fa:hover {
  color: white;
}
section#social-section .social .twitter:hover {
  color: white;
  background-color: #55acee;
  border: 2px solid #55acee;
}
section#social-section .social .google-plus i.fa:hover {
  color: white;
}
section#social-section .social .google-plus:hover {
  color: white;
  background-color: #d34836;
  border: 2px solid #d34836;
}
section#cta-sections {
  text-align: center;
}
section#cta-sections .bottom-cta-section {
  margin-top: 25px;
}
section#cta-sections .bottom-cta-section h4.bottom-cta {
  font-size: 22px;
  color: white;
}
section#cta-sections .bottom-cta-section p.sub-section {
  color: #ADBFCB;
  font-size: 15px;
}
section#cta-sections .bottom-cta-section .left,
section#cta-sections .bottom-cta-section .right,
section#cta-sections .bottom-cta-section .middle {
  padding: 40px 50px;
  height: 200px;
}
section#cta-sections .bottom-cta-section .left a,
section#cta-sections .bottom-cta-section .right a,
section#cta-sections .bottom-cta-section .middle a {
  font-weight: 700;
  font-size: 17px;
}
section#cta-sections .bottom-cta-section .left a:hover,
section#cta-sections .bottom-cta-section .right a:hover,
section#cta-sections .bottom-cta-section .middle a:hover {
  text-decoration: none;
  color: #3599d8;
}
section#cta-sections .bottom-cta-section .left a i.fa,
section#cta-sections .bottom-cta-section .right a i.fa,
section#cta-sections .bottom-cta-section .middle a i.fa {
  margin-left: 4px;
}
section#cta-sections .bottom-cta-section .left {
  background-color: #242F3B;
}
section#cta-sections .bottom-cta-section .middle {
  background-color: #141C25;
}
section#cta-sections .bottom-cta-section .right {
  background-color: #242F3B;
}
body#contact-page nav {
  height: 120px;
  background-color: black;
}
body#inside-pages section#intro .course-hero {
  padding-top: 60px;
  margin-top: -79px;
  height: 460px;
  background-size: cover;
  background-image: url('/assets/img/course-heroes.jpg');
}
body#inside-pages section#intro .course-hero h2 {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
  margin-top: 80px;
  line-height: 130%;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero h2 {
    font-size: 26px;
  }
}
body#inside-pages section#intro .course-hero h1.hero-small {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero h1.hero-small {
    font-size: 15px;
  }
}
body#inside-pages section#intro .course-hero .hero-content {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero .hero-content {
    margin-bottom: 20px;
  }
}
body#inside-pages section#intro .course-hero div.ctas {
  text-align: center;
  margin-top: 40px;
}
body#inside-pages section#intro .course-hero div.ctas button.btn-primary {
  margin-right: 15px;
}
body#inside-pages section#intro .course-hero div.ctas button.btn-default {
  margin-left: 15px;
}
body#inside-pages section#intro .course-hero .chevron {
  text-align: center;
}
body#inside-pages section#intro .course-hero .chevron i.fa {
  font-size: 30px;
  margin-top: 30px;
  color: #3C4E61;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero .chevron i.fa {
    font-size: 15px;
    margin-top: 10px;
  }
}
body#inside-pages section#intro .hero-mobile {
  margin-top: -50px;
  height: 500px;
  background-color: #182028;
}
body#inside-pages section#intro .hero-mobile .hero-content {
  padding: 135px 15px 0;
}
body#inside-pages section#intro .hero-mobile h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
}
body#inside-pages section#intro .hero-mobile h1.hero-small {
  text-align: center;
  margin: 20px auto;
  font-size: 17px;
}
body#inside-pages section#intro .hero-mobile div.ctas {
  text-align: center;
  margin-top: 30px;
}
body#inside-pages section#intro .hero-mobile div.ctas button.btn-primary {
  margin-right: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
body#inside-pages section#intro .hero-mobile div.ctas button.btn-default {
  margin-left: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
body#inside-pages section#intro .hero-mobile .chevron {
  text-align: center;
}
body#inside-pages section#intro .hero-mobile .chevron a {
  color: #314763;
}
body#inside-pages section#intro .hero-mobile .chevron a:hover {
  color: #2E507B;
}
body#inside-pages section#intro .hero-mobile .chevron a i.fa {
  font-size: 30px;
  margin-top: 76px;
}
section#brands .brand-logos {
  margin: 15px 0 0 0;
}
section#brands p.logo-text {
  text-align: center;
  margin-top: 20px;
  background-color: white;
}
section#brands img {
  height: 55px;
}
section#brands hr {
  margin-top: 0;
}
footer#footer {
  padding: 20px 0;
  background-color: #182028;
}
footer#footer div.footer-nav ul.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer#footer div.footer-nav ul.footer-list li {
  display: inline;
  margin-left: 15px;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 768px) {
  footer#footer div.footer-nav ul.footer-list li {
    margin-left: 0;
    margin-right: 10px;
  }
}
footer#footer div.footer-nav ul.footer-list li a {
  color: #ADBFCB;
}
footer#footer div.footer-nav ul.footer-list li a:hover,
footer#footer div.footer-nav ul.footer-list li a:active,
footer#footer div.footer-nav ul.footer-list li a:focus {
  text-decoration: none;
  color: #5594BD;
}
footer#footer div.footer-nav ul.footer-list li a.copyright {
  color: #ADBFCB;
  text-decoration: none;
}
footer#footer div.footer-nav ul.footer-list li a.copyright:hover,
footer#footer div.footer-nav ul.footer-list li a.copyright:active,
footer#footer div.footer-nav ul.footer-list li a.copyright:focus {
  text-decoration: none;
  color: #ADBFCB;
}
