body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323A45;
}
h1 {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ADBFCB;
  line-height: 140%;
  letter-spacing: .5px;
}
h2.hero-heading {
  font-size: 55px;
  font-weight: 600;
}
h2 {
  font-size: 36px;
  color: #323a45;
  text-align: center;
}
h3 {
  font-size: 36px;
  color: #323a45;
  text-align: center;
}
ul.blue-points {
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}
ul.blue-points li:before {
  color: #3498db;
  content: "\2022";
  font-size: 1em;
  padding-right: .5em;
  position: relative;
  top: .1em;
  margin-right: 5px;
}
p {
  color: #747c83;
  line-height: 160%;
  font-size: 17px;
}
p.large {
  font-size: 17px;
}
button.btn-primary,
button.btn-default {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}
button.btn-hero {
  background-color: rgba(53, 153, 216, 0.7);
  border-color: none;
  color: white;
  padding: 10px 50px;
}
button.btn-hero:hover {
  background-color: #3599d8;
  border-color: #3599d8;
}
button.btn-primary {
  background-color: #3599d8;
  border-color: #3599d8;
  color: white;
  padding: 10px 50px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
button.btn-primary:hover {
  background-color: #3189C1;
  border-color: #3599d8;
}
button.btn-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: none;
  color: #3599d8;
  padding: 10px 35px;
  border-radius: 2px;
  border-bottom: 3px solid #A2A5A7;
}
button.btn-default:hover,
button.btn-default:focus,
button.btn-default:active {
  background-color: #ffffff;
  border-color: white;
  color: #3599d8;
  border-bottom: 3px solid #C4C7CA;
}
nav.navbar {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  margin-bottom: 0;
}
nav.navbar div.navbar-header {
  text-align: center;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-header {
    background-color: #55656F;
  }
}
nav.navbar div.navbar-header button {
  margin-top: 26px;
  margin-right: 27px;
  background-color: #3599d8;
  margin-bottom: 20px;
  border-color: #3599d8;
  border-radius: 2px;
}
nav.navbar div.navbar-header button:hover,
nav.navbar div.navbar-header button:focus,
nav.navbar div.navbar-header button:active {
  background-color: #3599d8;
  border-color: #3599d8;
}
nav.navbar div.navbar-header button span.icon-bar {
  width: 15px;
  height: 2px;
}
nav.navbar div.navbar-header a img {
  display: inline-block;
  margin-top: 0px;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-header a img {
    height: 55px;
    margin-top: -2px;
  }
}
nav.navbar div.navbar-header a p.logo-text {
  font-size: 26px;
  color: white;
}
nav.navbar div.navbar-collapse {
  font-size: 16px;
  border-color: #53636D;
  background-color: none;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse {
    background-color: #182B38;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav {
  float: right;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse ul.navbar-nav {
    float: none;
    text-align: center;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav li {
  margin-left: 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  nav.navbar div.navbar-collapse ul.navbar-nav li {
    margin-left: 0;
    margin-top: 10px;
  }
}
nav.navbar div.navbar-collapse ul.navbar-nav li:last-child {
  margin-bottom: 10px;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a {
  color: white;
  font-weight: 300;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a:hover {
  text-decoration: underline;
}
nav.navbar div.navbar-collapse ul.navbar-nav li a span {
  font-weight: 500;
}
nav.navbar div.navbar-collapse ul.navbar-nav.visible-xs {
  text-align: center;
}
section#intro .hero-contact {
  margin-top: -81px;
  height: 350px;
  background: url(/assets/img/contact-us-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#intro .hero {
  margin-top: -81px;
  height: 650px;
  background: url(../img/ux-design-course-hero.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#intro .hero h2 {
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
  margin-top: 190px;
}
section#intro .hero h1.hero-small {
  text-align: center;
  margin: 20px auto;
}
section#intro .hero div.ctas {
  text-align: center;
  margin-top: 40px;
}
section#intro .hero div.ctas button.btn-primary {
  margin-right: 15px;
}
section#intro .hero div.ctas button.btn-default {
  margin-left: 15px;
}
section#intro .hero div.ctas label {
  vertical-align: top;
  font-size: 14px;
  color: white;
  width: 89px;
  height: 40px;
  font-weight: 300;
  margin-right: 5px;
}
section#intro .hero div.ctas input {
  vertical-align: top;
  width: 260px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}
section#intro .hero div.ctas button {
  vertical-align: top;
  width: 125px;
  height: 40px;
  border-radius: 3px;
  margin-left: 3px;
  background-color: #3a99d8;
  color: white;
  font-size: 14px;
  border: none;
}
section#intro .hero .chevron {
  text-align: center;
}
section#intro .hero .chevron i.fa {
  font-size: 30px;
  margin-top: 100px;
  color: #3C4E61;
}
section#intro .hero-mobile {
  margin-top: -82px;
  height: 400px;
  background: url(../img/ux-design-course-hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#intro .hero-mobile .hero-content {
  padding: 135px 15px 0;
}
section#intro .hero-mobile h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
}
section#intro .hero-mobile h1.hero-small {
  text-align: center;
  margin: 20px auto;
  font-size: 17px;
}
section#intro .hero-mobile div.ctas {
  text-align: center;
  margin-top: 30px;
}
section#intro .hero-mobile div.ctas button.btn-primary {
  margin-right: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
}
section#intro .hero-mobile div.ctas button.btn-default {
  margin-left: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
}
section#intro .hero-mobile div.ctas label {
  vertical-align: top;
  font-size: 14px;
  color: white;
  width: 89px;
  height: 40px;
  font-weight: 300;
  margin-right: 5px;
}
section#intro .hero-mobile div.ctas input {
  vertical-align: top;
  width: 260px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 14px;
}
section#intro .hero-mobile div.ctas button {
  vertical-align: top;
  width: 125px;
  height: 40px;
  border-radius: 3px;
  margin-left: 3px;
  background-color: #3a99d8;
  color: white;
  font-size: 14px;
  border: none;
}
section#intro .hero-mobile .chevron {
  text-align: center;
}
section#intro .hero-mobile .chevron i.fa {
  font-size: 30px;
  margin-top: 76px;
}
.subtitle {
  margin-top: 10px;
  margin-bottom: 60px;
}
.subtitle img,
.subtitle p {
  display: inline-block;
}
.subtitle p {
  font-weight: 600;
}
.subtitle img {
  height: 25px;
  margin: 18px 9px 5px 2px;
}
section.course-2 .container {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 1174px) {
  section.course-2 .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
section.course-2 .container h2 {
  font-size: 36px;
  font-weight: 400;
}
section.course-2 .container h2 span {
  font-weight: 600;
}
section.course-2 .container ul.selling-points {
  padding-top: 10px;
  padding-left: 10px;
}
section.course-2 .container ul.selling-points .fa {
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 10%;
  color: #3498db;
  /*margin-right: 10px;*/
}
section.course-2 .container ul.selling-points p {
  padding-left: 5px;
  vertical-align: top;
  margin-top: -2px;
  width: 90%;
  display: inline-block;
  /*margin-left: -25px;*/
  text-align: left;
  font-size: 12px;
}
section#course div.headline h2.course-for {
  margin: 35px 0 20px;
}
section#course div.audience {
  margin: 0 -30px 50px;
}
section#course div.audience .row {
  margin: 0 -35px;
}
section#course div.audience .column {
  padding: 0px 3px;
  margin-top: 5px;
  text-align: center;
}
section#course div.audience .column .column-section {
  border: 2px solid #f7f7f7;
  padding: 40px 5px;
  height: 370px;
}
@media (max-width: 768px) {
  section#course div.audience .column .column-section {
    height: auto;
  }
}
section#course div.audience .column .column-section div.icon {
  text-align: center;
}
section#course div.audience .column .column-section div.icon img {
  margin-bottom: 12px;
  height: 75px;
}
section#course div.audience .column .column-section h4,
section#course div.audience .column .column-section p.subtext {
  text-align: center;
}
section#course div.audience .column .column-section h4 {
  font-size: 24px;
}
section#course div.audience .column .column-section h4 strong {
  font-weight: 600;
}
section#course div.audience .column .column-section p.subtext {
  font-size: 14px;
}
section#course div.audience .column .column-section b {
  font-size: 12px;
}
section#course div.audience .column .column-section ul.items {
  list-style-type: none;
  padding: 0 2px 0 7px;
  margin-top: 24px;
}
section#course div.audience .column .column-section ul.items li {
  margin: 7px 0;
  font-weight: 600;
  font-size: 12px;
}
section#course div.audience .column .column-section ul.items li i.fa {
  color: #3599d8;
  margin-right: 7px;
  font-size: 10px;
}
section#course div.audience .column-hero {
  margin-top: 30px;
}
section#design-process div.chevron-down {
  text-align: center;
}
section#design-process div.chevron-down img {
  height: 30px;
}
section#design-process hr {
  border-top: 2px solid #f7f7f7;
}
@media (max-width: 768px) {
  section#design-process .headline-area {
    margin-top: 30px;
  }
}
section#design-process .headline-area h2 {
  line-height: 140%;
}
@media (min-width: 769px) {
  section#design-process .headline-area h2 {
    width: 40%;
    margin-left: 30%;
  }
}
@media (max-width: 768px) {
  section#design-process .headline-area h2 {
    font-size: 24px;
    width: 80%;
    margin-left: 10%;
  }
}
section#design-process .process-sections div.research-section {
  background: url(../img/user-research.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px 0 20px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.research-section {
    background: none;
    margin-top: 0;
  }
}
section#design-process .process-sections div.research-section .content-box {
  background-color: white;
  margin: 10px 0;
  padding: 19px 39px 47px;
  max-width: 395px;
  opacity: .9;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.research-section .content-box {
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 15px 45px 37px;
  }
}
section#design-process .process-sections div.research-section .content-box h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
section#design-process .process-sections div.research-section .content-box p {
  font-size: 17px;
}
section#design-process .process-sections div.research-section .content-box img {
  margin-right: 13px;
}
section#design-process .process-sections .bottom-three {
  width: 100%;
}
section#design-process .process-sections .bottom-three .bottom-section {
  padding-left: 0px;
  padding-right: 0px;
  border: 1.5px solid #EFEFEF;
}
section#design-process .process-sections .bottom-three .image-top {
  padding: 130px 0;
  background-color: green;
}
section#design-process .process-sections .bottom-three .strategy {
  background: url(../img/web-strategy-planning.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .layout {
  background: url(../img/website-wireframing.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .prototypes {
  background: url(../img/visual-test.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#design-process .process-sections .bottom-three .content-box {
  padding: 10px 25px 30px 45px;
  height: 300px;
}
@media (max-width: 768px) {
  section#design-process .process-sections .bottom-three .content-box {
    height: auto;
    background-color: #f7f7f7;
    padding: 10px 34px 30px 54px;
    margin-bottom: 22px;
  }
}
section#design-process .process-sections .bottom-three .content-box h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
section#design-process .process-sections .bottom-three .content-box p {
  font-size: 17px;
}
section#design-process .process-sections .bottom-three .content-box div.brands {
  margin-bottom: 35px;
}
section#design-process .process-sections .bottom-three .content-box img {
  margin-right: 15px;
}
section#design-process .process-sections div.course-details {
  text-align: center;
}
section#design-process .process-sections div.course-details button.btn-lg {
  margin: 40px 0 30px;
  color: #fff;
  padding: 17px 50px;
  font-weight: 700;
  font-size: 24px;
  background-color: #3599d8;
}
@media (max-width: 768px) {
  section#design-process .process-sections div.course-details button.btn-lg {
    padding: 12px 35px;
  }
}
section#mentors {
  margin-top: 100px;
  background-color: #fafafa;
  border: 2px solid #f5f5f5;
  padding: 60px 0 75px;
}
section#mentors ul.blue-points {
  margin-top: 30px;
}
section#mentors ul.blue-points li {
  font-size: 14px;
  font-weight: 700;
}
section#mentors div.leftcolumn {
  padding-right: 50px;
}
section#mentors div.rightcolumn {
  padding-left: 25px;
}
section#mentors h3 {
  text-align: left;
  margin-bottom: 15px;
}
section#mentors h4 {
  line-height: 28.8999996185303px;
}
#faq-question-box-small {
  cursor: help;
  width: 50px;
  height: 50px;
  z-index: 999;
  background-color: #3498db;
  position: fixed;
  bottom: 25px;
  right: 15px;
  text-align: center;
}
#faq-question-box-small span {
  font-size: 40px;
  color: white;
  font-weight: 600;
  position: fixed;
  right: 32px;
  bottom: 20px;
}
#faq-question-box {
  cursor: help;
  width: 75px;
  height: 75px;
  z-index: 999;
  background-color: #3498db;
  position: fixed;
  bottom: 25px;
  right: 15px;
  text-align: center;
}
#faq-question-box span {
  font-size: 60px;
  color: white;
  font-weight: 600;
  position: fixed;
  right: 40px;
  bottom: 20px;
}
section#home-faqs {
  background-color: #FAFAFA;
  padding: 40px 0 45px;
}
section#home-faqs .faq h3 {
  margin-bottom: 50px;
}
section#home-faqs .faq div#more-questions a.faq-link {
  margin-top: 25px;
  font-size: 18px;
}
@media (max-width: 768px) {
  section#home-faqs .faq div#more-questions a.faq-link {
    font-size: 14px;
  }
}
section#home-faqs .faq div#more-questions a.faq-link i {
  margin-left: 10px;
}
section#course-tuition {
  padding-top: 50px;
}
@media (max-width: 768px) {
  section#course-tuition {
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  section#course-tuition h3 {
    font-size: 28px;
    line-height: 170%;
  }
}
section#course-tuition h3 i {
  margin-right: 15px;
  margin-left: 15px;
}
section#course-tuition h3 span.plus {
  padding-left: 10px;
}
section#course-tuition p.tuition-note {
  font-size: 14px;
  color: #adbfcb;
  text-align: center;
  margin-top: 25px;
}
section#course-tuition .tuition-info {
  margin-top: 45px;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  margin-right: 25px;
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  section#course-tuition .tuition-info {
    margin-bottom: 10px;
    margin-top: 15px;
  }
}
section#course-tuition .tuition-info p.tuition-header {
  color: black;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}
section#course-tuition .tuition-info p.tuition-price {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #3498db;
}
section#course-tuition .tuition-info p.tuition-price-note {
  font-size: 12px;
  color: #919191;
  text-align: center;
  margin-top: -15px;
  font-weight: 600;
}
section#course-tuition .tuition-info button {
  width: 100%;
  font-weight: 600;
  padding: 10px;
}
section#course-tuition .tuition-info ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  margin: 15px -15px 0;
}
section#course-tuition .tuition-info ul li {
  font-size: 17px;
  padding: 14px 0;
  padding-left: 34px;
}
section#course-tuition .tuition-info ul li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
section#course-tuition .tuition-info ul li:nth-child(odd) {
  background-color: #F7F7F7;
}
section#course-tuition .tuition-info ul li:before {
  font-family: FontAwesome;
  content: "\f10c";
  font-size: 8px;
  color: orange;
  margin-right: 14px;
}
section#course-section button {
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-style: none;
  background-color: #3498db;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-family: Arial;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  padding: 14px 30px;
}
section#course-section button.apply {
  margin-top: 0;
}
section#course-section img.top {
  margin-top: 80px;
}
section#course-section img.top2 {
  margin-top: 65px;
  /*width: 647px;*/
  /*height: 672px;*/
}
section#course-section div.chevron-down {
  text-align: center;
}
section#course-section div.chevron-down img {
  height: 25px;
}
section#course-section div#home-faqs {
  margin-top: 25px;
  min-height: 640px;
  background-color: #fafafa;
  padding-left: 100px;
  padding-right: 100px;
}
section#course-section div#home-faqs div.row {
  margin-bottom: 50px;
}
section#course-section div#home-faqs h3 {
  font-size: 32px;
  color: #353535;
  text-align: center;
  margin-top: 50px;
  padding-right: 50px;
  margin-left: 25px;
}
section#course-section div#home-faqs h4 {
  color: #353535;
  font-weight: 600;
  margin-top: 50px;
  padding-right: 50px;
}
@media (max-width: 768px) {
  section#course-section div#home-faqs h4 {
    padding-right: 10px;
  }
}
section#course-section div#home-faqs p.faq-topic-answer {
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
  padding-right: 50px;
}
@media (max-width: 768px) {
  section#course-section div#home-faqs p.faq-topic-answer {
    padding-right: 10px;
  }
}
section#course-section div#home-faqs p.faq-topic-answer span.highlight-blue {
  color: #3498db;
  font-weight: 600;
}
section#course-section div#home-faqs p.faq-topic-answer span.highlight-bold {
  color: #595959;
  font-weight: 600;
}
section#course-section div#home-faqs p.faq-topic-meeting-title {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-right: 50px;
  font-weight: 600;
  color: #595959;
}
section#course-section div#home-faqs p.faq-topic-meeting-list {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  padding-right: 50px;
}
section#course-section div#home-faqs p.faq-topic-note {
  font-weight: 300;
  font-size: 12px;
  margin-top: 25px;
}
section#course-section div#home-faqs ul.faq-no-bullet-list {
  font-size: 15px;
  color: #595959;
  font-weight: 300;
  list-style-type: none;
  margin-top: 25px;
  padding: 0px;
}
section#course-section div#home-faqs ul.faq-no-bullet-list span.highlight-bold {
  font-weight: 600;
}
section#course-section div#home-faqs ul.faq-blue-bullet-list {
  font-size: 15px;
  color: #595959;
  font-weight: 300;
  list-style-type: none;
}
section#course-section div#home-faqs ul.faq-blue-bullet-list li:before {
  color: #3498db;
  content: "\2022";
  font-size: 1.5em;
  padding-right: .5em;
  position: relative;
  top: .1em;
  margin-left: -25px;
}
section#course-section div.highlights,
section#course-section div.students-learn,
section#course-section div.schedule,
section#course-section div.mentors {
  margin-top: 50px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  section#course-section div.highlights,
  section#course-section div.students-learn,
  section#course-section div.schedule,
  section#course-section div.mentors {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
section#course-section div.highlights h3,
section#course-section div.students-learn h3,
section#course-section div.schedule h3,
section#course-section div.mentors h3 {
  text-align: left;
  font-size: 44px;
}
section#course-section div.highlights p,
section#course-section div.students-learn p,
section#course-section div.schedule p,
section#course-section div.mentors p {
  font-size: 17px;
  font-weight: 400;
}
section#course-section div.highlights ul.items,
section#course-section div.students-learn ul.items,
section#course-section div.schedule ul.items,
section#course-section div.mentors ul.items {
  list-style-type: none;
  padding: 0 2px 0 7px;
  margin-top: 24px;
}
section#course-section div.highlights ul.items li,
section#course-section div.students-learn ul.items li,
section#course-section div.schedule ul.items li,
section#course-section div.mentors ul.items li {
  margin: 14px 0;
  font-weight: 600;
  color: #747c83;
}
section#course-section div.highlights ul.items li i.fa,
section#course-section div.students-learn ul.items li i.fa,
section#course-section div.schedule ul.items li i.fa,
section#course-section div.mentors ul.items li i.fa {
  color: #3599d8;
  margin-right: 7px;
  font-size: 10px;
  font-weight: bolder;
}
section#course-section div.schedule h3 {
  font-size: 24px;
  font-weight: 600;
}
section#course-section div.cta {
  background-color: #fafafa;
  text-align: center;
  padding: 60px 40px 100px;
}
section#course-section div.cta h3.cta-heading {
  font-weight: 600;
}
section#course-section div.cta .options-tuition {
  border-right: 1px solid #E4E4E4;
}
@media (max-width: 768px) {
  section#course-section div.cta .options-tuition {
    border-right: none;
  }
}
section#course-section div.cta .options-tuition,
section#course-section div.cta .start-app {
  margin-top: 45px;
  padding: 20px 55px;
}
section#course-section div.cta .options-tuition h5,
section#course-section div.cta .start-app h5 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 17px;
}
section#course-section div.students-learn div.container {
  padding: 0px;
  margin-top: -35px;
}
section#course-section div.students-learn div.container .ux-plat {
  width: 50%;
  height: 652px;
  /*margin-top: 40px;*/
  background-image: url('/assets/img/what-youll-learn.jpg');
  background-size: cover;
}
section#course-section div.students-learn div.container .youll-learn {
  padding-left: 50px;
  padding-top: 55px;
}
@media (max-width: 768px) {
  section#course-section div.students-learn div.container .youll-learn {
    padding-left: 35px;
    padding-top: 10px;
  }
}
section#course-section div.students-learn div.container .youll-learn h3.heading {
  font-size: 36px;
  margin-bottom: 25px;
}
section#course-section div.students-learn div.container .youll-learn p {
  margin-top: 25px;
}
section#course-section div.students-learn div.container-stats {
  background-color: #FAFAFA;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-bottom: 94px;
}
@media (max-width: 768px) {
  section#course-section div.students-learn div.container-stats {
    margin-top: 70px;
  }
}
section#course-section div.students-learn div.container-stats div.mid-stat,
section#course-section div.students-learn div.container-stats div.left-stat,
section#course-section div.students-learn div.container-stats div.right-stat {
  height: 75px;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  section#course-section div.students-learn div.container-stats div.mid-stat,
  section#course-section div.students-learn div.container-stats div.left-stat,
  section#course-section div.students-learn div.container-stats div.right-stat {
    margin-top: 55px;
  }
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-title,
section#course-section div.students-learn div.container-stats div.left-stat p.stat-title,
section#course-section div.students-learn div.container-stats div.right-stat p.stat-title {
  color: #323A45;
  padding: 0px;
  margin: 0px;
  margin-left: 20px;
  font-size: 20px;
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-source,
section#course-section div.students-learn div.container-stats div.left-stat p.stat-source,
section#course-section div.students-learn div.container-stats div.right-stat p.stat-source {
  color: #a0a0a0;
  font-size: 13px;
  margin-left: 20px;
}
section#course-section div.students-learn div.container-stats div.mid-stat p.stat-source a,
section#course-section div.students-learn div.container-stats div.left-stat p.stat-source a,
section#course-section div.students-learn div.container-stats div.right-stat p.stat-source a {
  text-decoration: underline;
  color: #3498DB;
}
section#course-section div.students-learn div.container-stats p.stat {
  font-size: 60px;
  color: #151515;
  margin-bottom: 0px;
  margin-top: -20px;
}
@media (max-width: 768px) {
  section#course-section div.students-learn div.container-stats p.stat {
    margin-top: 0px;
    font-size: 40px;
  }
}
section#course-section div.students-learn div.container-stats span {
  color: #3498DB;
  font-size: 32px;
  vertical-align: top;
  padding-right: 5px;
}
section#course-section div.students-learn div.container-stats i {
  color: #3498DB;
  font-size: 18px;
  vertical-align: top;
  margin-top: 35px;
  padding-right: 5px;
}
section#course-section div.students-learn h5.tools {
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  color: #747C83;
}
section#course-section div.students-learn .tools-logos {
  padding-left: 30px;
}
section#course-section div.students-learn .tools-logos img {
  margin-right: 40px;
  margin-top: 15px;
}
section#course-section div.students-learn .tools-used {
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  margin: 45px 0 0 0;
  padding: 35px 0px;
}
section#course-section div.students-learn .tools-used .logos-wrapper {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: auto;
}
section#course-section div.students-learn .tools-used .logos-wrapper figure {
  -webkit-box-flex: 1;
  flex: 1;
}
section#course-section div.students-learn .tools-used .logos-wrapper figure img {
  max-width: 80%;
}
/*div#tuition {
    
    margin-top: 50px;
    div#tuition_row{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        background-color: rgb(245,245,245);
        height: 450px;
        
        p#tuition_header{
            font-size: 36px;
        }   
    }
}*/
div#pricing-info {
  margin-top: 25px;
  padding-bottom: 100px;
  min-height: 500px;
  background-color: #1b2f3c;
}
div#pricing-info h3 {
  color: white;
  margin-top: 50px;
  margin-left: 75px;
  position: absolute;
}
div#pricing-info fieldset {
  border: 2px solid #203752;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 125px;
  padding: 50px;
  min-height: 275px;
}
div#pricing-info fieldset legend {
  transform: matrix(1, 0, 0, 1, 0, -20);
  background-color: #3498db;
  border: none;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  font-size: 48px;
  color: white;
  padding-top: 15px;
  padding-left: 85px;
}
div#pricing-info fieldset div#pricing-columns {
  margin-top: -50px;
}
div#pricing-info fieldset div#pricing-columns div.pricing-items {
  /*border: 1px solid black;*/
  min-height: 125px;
}
div#pricing-info fieldset div#pricing-columns div.pricing-items div.pricing-icons {
  display: inline-block;
  margin-top: 25px;
  width: 45px;
  vertical-align: top;
  position: absolute;
}
div#pricing-info fieldset div#pricing-columns div.pricing-items div.pricing-text {
  display: inline-block;
  /*border: 1px solid black;*/
  margin-left: 45px;
  padding-top: 15px;
  vertical-align: top;
  height: 100%;
}
div#pricing-info fieldset div#pricing-columns div.pricing-items div.pricing-text h4 {
  font-size: 20px;
  color: white;
  font-weight: 300;
}
div#pricing-info fieldset div#pricing-columns div.pricing-items div.pricing-text p {
  font-size: 16px;
  font-weight: 300;
  color: #adbfcb;
}
div#faq-container h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
div#faq-container div.faq-columns {
  padding-left: 100px;
  padding-top: 25px;
  padding-right: 75px;
  padding-bottom: 25px;
  vertical-align: top;
}
div#faq-container div.faq-columns h4 {
  font-weight: 700;
  margin-bottom: 25px;
}
div#faq-container div.faq-columns p {
  font-weight: 300;
  margin-bottom: 50px;
}
div#learn-ux-cta {
  background-color: #FAFAFA;
  padding-bottom: 45px;
  border-top: 1px solid #EFEFEF;
}
div#learn-ux-cta h3 {
  font-size: 38px;
  margin-top: 60px;
  color: #151515;
}
@media (max-width: 768px) {
  div#learn-ux-cta h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
div#learn-ux-cta h3 span {
  font-weight: 600;
}
div#learn-ux-cta form {
  text-align: center;
}
div#learn-ux-cta form div.inner-addon {
  height: 45px;
  width: 250px;
  display: inline-block;
}
div#learn-ux-cta form div.inner-addon i {
  font-size: larger;
  margin-top: 5px;
  color: #a6a6a6;
}
div#learn-ux-cta form div.inner-addon input {
  border: 2px solid #e4e4e4;
  /*border-radius: 2px;*/
  /*border: 1px;*/
  height: 45px;
}
div#learn-ux-cta form #learn-ux-submit {
  display: inline-block;
  font-size: 16px;
  background-color: #3498db;
  padding: 10px 55px;
  font-weight: 600;
}
div#learn-ux-cta p {
  font-size: 12px;
  color: #a0a0a0;
  margin-top: -35px;
  text-align: center;
  font-weight: 300;
}
div#learn-ux-cta div.message {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*======= Start Input Icons ===========*/
.inner-addon {
  position: relative;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}
/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
/*======= End Input Icons ===========*/
div#tuition {
  margin-bottom: 50px;
}
div#tuition div.price {
  text-align: center;
  background-color: #182028;
  margin: 0 auto;
  border-radius: 2px;
  padding: 10px 5px 15px;
}
div#tuition div.price h3.number {
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  border-radius: 18px;
}
div#tuition h2.tuition {
  text-align: left;
}
div#tuition ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
}
div#tuition ul li {
  padding: 15px 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #E2E2E2;
}
div#tuition .payment-card {
  margin-top: 10px;
}
div#tuition .questions-section {
  border: 2px solid #f7f7f7;
  margin-top: 10px;
  padding: 10px 20px;
  margin-left: 10px;
}
div#tuition .questions {
  margin-top: 30px;
  padding-bottom: 20px;
}
div#tuition .questions h4 {
  font-weight: 600;
}
div.faq a {
  font-weight: 400;
}
div.faq div.row {
  margin-bottom: 50px;
}
div.faq h3.faq {
  font-size: 32px;
  color: #353535;
  text-align: left;
  margin-top: 50px;
  padding-right: 50px;
  margin-left: 25px;
}
div.faq hr {
  margin-left: 25px;
  margin-right: 25px;
}
div.faq h4 {
  color: #353535;
  font-weight: 600;
  padding-right: 50px;
  margin-top: 25px;
  font-size: 20px;
  line-height: 140%;
}
div.faq p.faq-topic-answer {
  font-size: 17px;
  font-weight: 300;
  margin-top: 15px;
  padding-right: 50px;
  line-height: 140%;
}
@media (max-width: 768px) {
  div.faq p.faq-topic-answer {
    padding-right: 10px;
  }
}
div.faq p.faq-topic-answer span.highlight-blue {
  color: #3498db;
  font-weight: 600;
}
div.faq p.faq-topic-answer span.highlight-bold {
  color: #595959;
  font-weight: 600;
}
div.faq p.faq-topic-meeting-title {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-right: 50px;
  font-weight: 600;
  color: #595959;
}
div.faq p.faq-topic-meeting-list {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  padding-right: 50px;
}
div.faq p.faq-topic-note {
  font-weight: 300;
  font-size: 12px;
  margin-top: 25px;
}
div.faq ul.faq-no-bullet-list {
  font-size: 15px;
  color: #595959;
  font-weight: 300;
  list-style-type: none;
  margin-top: 25px;
  padding: 0px;
}
div.faq ul.faq-no-bullet-list span.highlight-bold {
  font-weight: 600;
}
div.faq ul.faq-blue-bullet-list {
  font-size: 15px;
  color: #595959;
  font-weight: 300;
  list-style-type: none;
}
div.faq ul.faq-blue-bullet-list li:before {
  color: #3498db;
  content: "\2022";
  font-size: 1.5em;
  padding-right: .5em;
  position: relative;
  top: .1em;
  margin-left: -25px;
}
div.faq h3.faq-header {
  text-align: left;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 600;
}
div.faq h4 {
  font-weight: 17;
  font-weight: 600;
  margin-bottom: 5px;
}
div.faq h4 a {
  color: #868686;
}
div.faq div.panel-group {
  margin-bottom: 40px;
}
div.faq div.panel {
  margin: 0 0 25px 0;
}
div.thank-you {
  margin-bottom: 50px;
}
.apply .student-application {
  margin: -55px 0 35px;
  padding: 35px 40px 30px;
  background-color: #EFEFEF;
  border-radius: 3px;
}
.apply .right {
  margin-top: 20px;
  padding: 30px 40px;
  border: 2px solid #f7f7f7;
}
.apply .right .questions {
  margin-top: 30px;
}
.apply .right .questions ul {
  list-style-type: none;
  padding: 0;
}
.apply .right .questions ul li {
  margin-top: 7px;
}
.apply .right .questions ul li:last-child {
  font-weight: 600;
}
.apply .right .questions ul li a:hover {
  text-decoration: none;
}
.apply .right .questions ul li i {
  margin-right: 10px;
  color: #3599d8;
}
.apply .right h4 {
  font-wight: 600;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
.apply .right ol li {
  margin-top: 7px;
  font-weight: 700;
}
section#social-section {
  background-color: #1e2933;
  padding: 15px;
  text-align: center;
  margin: 20px 0;
  margin-bottom: 0px;
}
section#social-section div.headline h3.content {
  font-weight: 600;
  color: #ffffff;
}
section#social-section div.headline p {
  font-size: 17px;
}
section#social-section .social {
  font-size: 60px;
  /*padding: 25px;*/
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
section#social-section .social .facebook,
section#social-section .social .twitter,
section#social-section .social .google-plus {
  border: 2px solid #3599d8;
  border-radius: 100%;
  margin: 0 auto;
  color: #182028;
  width: 175px;
  height: 175px;
  margin-right: 10px;
}
section#social-section .social .facebook i.fa,
section#social-section .social .twitter i.fa,
section#social-section .social .google-plus i.fa {
  margin: auto;
  padding: 60px;
}
section#social-section .social .facebook i.fa:hover {
  color: white;
}
section#social-section .social .facebook:hover {
  color: white;
  background-color: #3b5998;
  border: 2px solid #3b5998;
}
section#social-section .social .twitter i.fa:hover {
  color: white;
}
section#social-section .social .twitter:hover {
  color: white;
  background-color: #55acee;
  border: 2px solid #55acee;
}
section#social-section .social .google-plus i.fa:hover {
  color: white;
}
section#social-section .social .google-plus:hover {
  color: white;
  background-color: #d34836;
  border: 2px solid #d34836;
}
/* AJAX Response Messages */
h4#question_modal {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
.ajax_message {
  color: #f7f7f7;
  text-align: center;
  font-size: 14px;
}
div.informed_message h5 {
  text-align: center;
  color: white;
}
div.question_message h5 {
  font-size: 16px;
  text-align: center;
  margin: 25%;
}
/* Contact Us Section */
section#contact-section div#map-canvas {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
section#cta-sections {
  text-align: center;
}
section#cta-sections .bottom-cta-section {
  margin-top: 25px;
}
section#cta-sections .bottom-cta-section h4.bottom-cta {
  font-size: 22px;
  color: white;
}
section#cta-sections .bottom-cta-section p.sub-section {
  color: #ADBFCB;
  font-size: 15px;
}
section#cta-sections .bottom-cta-section .left,
section#cta-sections .bottom-cta-section .right,
section#cta-sections .bottom-cta-section .middle {
  padding: 40px 50px;
  height: 200px;
}
section#cta-sections .bottom-cta-section .left a,
section#cta-sections .bottom-cta-section .right a,
section#cta-sections .bottom-cta-section .middle a {
  font-weight: 700;
  font-size: 17px;
}
section#cta-sections .bottom-cta-section .left a:hover,
section#cta-sections .bottom-cta-section .right a:hover,
section#cta-sections .bottom-cta-section .middle a:hover {
  text-decoration: none;
  color: #3599d8;
}
section#cta-sections .bottom-cta-section .left a i.fa,
section#cta-sections .bottom-cta-section .right a i.fa,
section#cta-sections .bottom-cta-section .middle a i.fa {
  margin-left: 4px;
}
section#cta-sections .bottom-cta-section .left {
  background-color: #242F3B;
}
section#cta-sections .bottom-cta-section .middle {
  background-color: #141C25;
}
section#cta-sections .bottom-cta-section .right {
  background-color: #242F3B;
}
#faq_bg {
  background-image: url('/assets/img/course-heroes.jpg');
  height: 460px;
}
#faq_bg {
  height: 350px;
}
body#inside-pages section#intro .course-hero {
  padding-top: 60px;
  margin-top: -79px;
  /*height: 460px;*/
  background-size: cover;
  background-color: #182028;
}
body#inside-pages section#intro .course-hero h2 {
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
  margin-top: 80px;
  line-height: 130%;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero h2 {
    font-size: 26px;
  }
}
body#inside-pages section#intro .course-hero h1.hero-small {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero h1.hero-small {
    font-size: 15px;
  }
}
body#inside-pages section#intro .course-hero .hero-content {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero .hero-content {
    margin-bottom: 20px;
  }
}
body#inside-pages section#intro .course-hero div.ctas {
  text-align: center;
  margin-top: 40px;
}
body#inside-pages section#intro .course-hero div.ctas button.btn-primary {
  margin-right: 15px;
}
body#inside-pages section#intro .course-hero div.ctas button.btn-default {
  margin-left: 15px;
}
body#inside-pages section#intro .course-hero .chevron {
  text-align: center;
}
body#inside-pages section#intro .course-hero .chevron i.fa {
  font-size: 30px;
  margin-top: 30px;
  color: #3C4E61;
}
@media (max-width: 768px) {
  body#inside-pages section#intro .course-hero .chevron i.fa {
    font-size: 15px;
    margin-top: 10px;
  }
}
body#inside-pages section#intro .hero-mobile h2 {
  font-size: 44px;
  font-weight: 600;
  color: white;
  letter-spacing: .5px;
  margin: auto 0;
  text-align: center;
}
body#inside-pages section#intro .hero-mobile h1.hero-small {
  text-align: center;
  margin: 20px auto;
  font-size: 17px;
}
body#inside-pages section#intro .hero-mobile div.ctas {
  text-align: center;
  margin-top: 30px;
}
body#inside-pages section#intro .hero-mobile div.ctas button.btn-primary {
  margin-right: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
body#inside-pages section#intro .hero-mobile div.ctas button.btn-default {
  margin-left: 3px;
  padding: 6px 25px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 2px;
  border-bottom: 3px solid #216FA0;
}
body#inside-pages section#intro .hero-mobile .chevron {
  text-align: center;
}
body#inside-pages section#intro .hero-mobile .chevron a {
  color: #314763;
}
body#inside-pages section#intro .hero-mobile .chevron a:hover {
  color: #2E507B;
}
body#inside-pages section#intro .hero-mobile .chevron a i.fa {
  font-size: 30px;
  margin-top: 76px;
}
section#webinar {
  width: 100%;
  height: 225px;
}
section#webinar div#webinar-cta {
  padding-top: 25px;
  padding-right: 50px;
}
section#webinar div#webinar-cta h4 {
  font-size: 20px;
  font-weight: 600;
}
section#webinar div#webinar-cta p {
  font-size: 17px;
  font-weight: 300;
}
section#webinar div#webinar-cta a {
  display: inline-block;
  vertical-align: top;
  color: #3498db;
  font-size: 14px;
  font-weight: 500;
}
section#webinar div#webinar-cta i {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #3498db;
  margin-left: 5px;
  margin-top: 2px;
}
section#webinar div#staff-rollcall {
  height: 225px;
}
section#webinar div#staff-rollcall div.staff-callcard {
  padding-top: 30px;
  text-align: center;
  display: inline-block;
}
section#webinar div#staff-rollcall div.staff-callcard div.staff-pic {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
section#webinar div#staff-rollcall div.staff-callcard p.staff-name {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
section#webinar div#staff-rollcall div.staff-callcard p.staff-position {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: black;
}
section#webinar div#staff-rollcall div.staff-callcard div#staff-left {
  background-image: url('/assets/img/michael-joseph-bw.jpg');
  background-size: cover;
}
section#webinar div#staff-rollcall div.staff-callcard div#staff-mid {
  background-image: url('/assets/img/melinda-career-services.jpg');
  background-size: cover;
}
section#webinar div#staff-rollcall div.staff-callcard div#staff-right {
  background-image: url('/assets/img/josh-rieland.jpg');
  background-size: cover;
}
section#brands .brand-logos {
  margin: 15px 0 0 0;
}
section#brands p.logo-text {
  text-align: center;
  margin-top: 20px;
  background-color: white;
}
section#brands img {
  height: 55px;
}
section#brands hr {
  margin-top: 0;
}
footer#footer {
  padding: 20px 0;
  background-color: #182028;
}
footer#footer div.footer-nav a {
  color: #ADBFCB;
  font-size: 17px;
  margin-right: 20px;
}
footer#footer div.footer-nav span.copyright {
  color: #A3BFC0;
  font-size: 15px;
  margin-left: 25px;
}
footer#footer div.footer-nav ul.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer#footer div.footer-nav ul.footer-list li {
  display: inline;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-top: -20px;
}
@media (max-width: 768px) {
  footer#footer div.footer-nav ul.footer-list li {
    margin-left: 0;
    margin-right: 10px;
  }
}
footer#footer div.footer-nav ul.footer-list li span.questions {
  color: #A3BFC0;
  font-size: 17px;
}
footer#footer div.footer-nav ul.footer-list li a {
  color: #A3BFC0;
  font-size: 14px;
  margin-left: 10px;
}
footer#footer div.footer-nav ul.footer-list li a:hover,
footer#footer div.footer-nav ul.footer-list li a:active,
footer#footer div.footer-nav ul.footer-list li a:focus {
  text-decoration: none;
  color: #5594BD;
}
footer#footer div.footer-nav ul.footer-list li a.copyright {
  color: #ADBFCB;
  text-decoration: none;
}
footer#footer div.footer-nav ul.footer-list li a.copyright:hover,
footer#footer div.footer-nav ul.footer-list li a.copyright:active,
footer#footer div.footer-nav ul.footer-list li a.copyright:focus {
  text-decoration: none;
  color: #ADBFCB;
}
