 /*-----------------------------------------------------------------------------------*/
/*  Process
/*-----------------------------------------------------------------------------------*/
.process h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  font-family: proxima-nova,Montserrat, 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  color: rgb(50, 58, 69);
}

.process p.lead{
    font-size: 20px;
    font-weight: 400;
    color: rgb(116, 124, 131);
    margin-bottom: 50px;
}

.process-step {
  margin: 0 auto;
  width: 700px;
  overflow: hidden;
  list-style: none;
  padding: 0;
  position: relative;
  margin-top: 50px;
}

.process-border {
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #dadada;
  height: 100%;
}

.step {
  /*width: 730px;*/
  float: right;
  text-align: left;
  margin: 0 0 10px;
  padding: 10px 0 0 405px;
  position: relative;

}

.step.even {
  float: left;
  text-align: right;
  padding: 10px 405px 0 0;
}

.step h5 {
  color: #3f8dbf;

}

.step .icon-square {
  position: relative;
  margin-left: 10px;
}

.step.even .icon-square {
  margin-right: 10px;
}

.step .icon-square:before {
  content: "";
  display: block;
  width: 65px;
  border-bottom: 1px solid #dadada;
  position: absolute;
  top: 35px;
  left: -65px;
}

.step.even .icon-square:before {
  left: auto;
  right: -65px;
}

.icon-square {
  display: inline-block;


}

#process-pencil{
    background-image: url('/assets/img/icons/pencil_black.png');
    /*background-position: center;*/
    background-position: left 10px;
    background-repeat: no-repeat;
  }

.icon-square i {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  color: #3498DB;
  font-size: 50px;
  padding: 0;
  margin: 0 0 10px 0;
  display: table;
  width: 70px;
  height: 70px;
  /*border: 2px solid #E8E8E8;*/
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}


    p.approx_hour{
        font-size: 12px;
        font-weight: 300;
    }

i#icon_pencil{
  background-image: url('/assets/img/icons/pencil_black.png');  
  background-position: center;
  background-repeat: no-repeat;
}

.step:hover .icon-square i#icon_pencil{
  background-color: #4f82e9;
  color: #FFF;
  background-image: url('/assets/img/icons/pencil_white.png');
  background-position: center;
  background-repeat: no-repeat;
}

i#icon_gears{
  color: black;
  background-image: url('/assets/img/icons/gears_black.png');  
  background-position: center;
  background-repeat: no-repeat;

}

.step:hover .icon-square i#icon_gears{
  background-color: #4f82e9;
  color: #FFF;
  background-image: url('/assets/img/icons/gears_white.png');  
   background-position: center;
  background-repeat: no-repeat;
}

#icon_files{
  color: black;
  background-image: url('/assets/img/icons/files_black.png');  
  background-position: center;
  background-repeat: no-repeat;

}

.step:hover .icon-square i#icon_files{
  background-color: #4f82e9;
  color: #FFF;
  background-image: url('/assets/img/icons/files_white.png');  
   background-position: center;
  background-repeat: no-repeat;
}

#icon_job{
  color: black;
  background-image: url('/assets/img/icons/briefcase2_black.png');  
  background-position: center;
  background-repeat: no-repeat;

}

.step:hover .icon-square i#icon_job{
  background-color: #4f82e9;
  color: #FFF;
  background-image: url('/assets/img/icons/briefcase2_white.png');  
   background-position: center;
  background-repeat: no-repeat;
}

.icon-square i:before {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.step h5 {
  color: #323A45;
  font-weight: 500;
  font-size: 24px;
}
.step p {
  font-size: 17px;
}

@media (max-width: 767px) {
  .process-step {
    width: 100%;
  }

  .step {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
  }

  .step.even {
    float: none;
    text-align: center;
    padding: 0;
  }

  .step .icon-square:before {
    border: 0px;
  }

  .process-border {
    border: 0;
  }
}
/*******************Process inline*****/
.process-inline {
  margin-top: 50px;
  padding-top: 80px;
  background-color: #eee;
}

.Process-col {
  padding: 80px 30px;
  text-align: center;
}

.Process-col.one {
  background-color: rgba(0, 0, 0, 0.3);
}

.Process-col.two {
  background-color: rgba(0, 0, 0, 0.5);
}

.Process-col.three {
  background-color: rgba(0, 0, 0, 0.7);
}

.Process-col.four {
  background-color: black;
}

.Process-col i {
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}

.Process-col h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 25px 0;
}