/*===================================================================================*/
/*	PRICING TABLES
/*===================================================================================*/

.pricing .plan {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
}
.pricing .plan header {
	background: #182028;
	text-align: center;
	padding: 50px;
	margin-top: 50px;
}
.pricing .plan h2 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #FFF;
}
.pricing .plan .btn {
	margin-bottom: 0;
}
.pricing .plan .price {
	margin-bottom: 15px;
}
.pricing .plan .price * {
	font-family: 'Lato', sans-serif;
	line-height: 100%;
}
.pricing .plan .price .amount {
	font-size: 75px;
	font-weight: 900;
	color: #FFF;
}
.pricing .plan .price .currency {
	position: relative;
	top: 16px;
	font-size: 24px;
	vertical-align: top;
	margin-right: 5px;
}
.pricing .plan .price .period {
	font-size: 16px;
	text-transform: uppercase;
}
.pricing .plan .features {
    background: #F5F7FA;
    padding: 25px 35px;
    border: 1px solid #E6E9ED;
    border-top: none;
	border-bottom-width: 2px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 0 !important;
}
.pricing .plan .features li {
    padding: 15px 0;
	/*border-top: 1px solid #CED7E0;*/
	border-top: 1px solid #BCC7D1;
}
.pricing .plan .features li:first-child {
	border: none;
}
.pricing .plan .features li i {
	margin-right: 10px;
}
.pricing.col-4 .plan header {
	padding: 40px;
}
.pricing.col-4 .plan h2 {
	font-size: 18px;
}
.pricing.col-4 .plan .price .amount {
	font-size: 90px;
}
.pricing.col-4 .plan .features {
    padding: 20px 30px;
}
div.price .currency,
div.price .period {
	color: #3C4E61;
}
.deposit {
	color: #3C4E61;
}